openapi: 3.1.0
servers:
- url: https://thalex.com/api/v2
  description: Exchange
- url: https://testnet.thalex.com/api/v2
  description: Testnet
info:
  description: Talex API documentation
  title: Thalex API Description
  version: 2.49.0
tags:
- name: Trading
  description: Trading
- name: Conditional orders
  description: Conditional orders
- name: Bot management
  description: Bot management
- name: Request for Quote
  description: Request for Quote
- name: Request for Quote (MM)
  description: Request for Quote (MM)
- name: Accounting
  description: Accounting
- name: Notifications
  description: Notifications
- name: Market data
  description: Market data
- name: Wallet
  description: Wallet
- name: System info
  description: System info
- name: Historical data
  description: Historical data
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          required:
          - code
          - message
          description: Error code and message.
          properties:
            code:
              type: integer
            message:
              type: string
    RpcRequest:
      type: object
      properties:
        id:
          type: object
          description: Your request id, optional.
      example: {}
    RpcResponse:
      type: object
      properties:
        id:
          type: object
          description: Your request id, or null if not supplied.
    RpcErrorResponse:
      type: object
      allOf:
      - $ref: '#/components/schemas/RpcResponse'
      - $ref: '#/components/schemas/ErrorResponse'
    Nothingness:
      type: 'null'
      description: Represents a null value.
      example: null
    EmptyObject:
      type: object
      description: Empty object.
    OrderStatus:
      type: object
      description: Order status.
      required:
      - order_id
      - direction
      - amount
      - filled_amount
      - remaining_amount
      - status
      - fills
      - change_reason
      - insert_reason
      - create_time
      - order_type
      - time_in_force
      - persistent
      properties:
        order_id:
          type: string
          description: System order ID, use to identify in amend/cancel, and to match
            trades.
        order_type:
          type: string
          enum:
          - limit
          - market
        time_in_force:
          type: string
          enum:
          - good_till_cancelled
          - immediate_or_cancel
        instrument_name:
          type: string
          description: 'Order instrument name.


            Not present for combination orders. Refer to `legs` field instead.

            '
        legs:
          type: array
          description: 'List of legs for this combination order.


            Not present for single-leg orders. Refer to `instrument_name` field instead.

            '
          items:
            type: object
            required:
            - instrument_name
            - quantity
            - filled_amount
            - remaining_amount
            properties:
              instrument_name:
                type: string
                description: 'Leg instrument name.

                  '
              quantity:
                type: number
                description: 'Quantity of this leg in a unit of the combination. A
                  non-zero integer, negative for short legs.

                  '
              filled_amount:
                type: number
                description: 'Amount executed on this leg.


                  Legs are filled proportionally to their quantities.

                  '
              remaining_amount:
                type: number
                description: 'Amount on this leg that remains in the book; if 0, order
                  is now inactive.


                  Note that the only `time_in_force` for combination orders currently
                  supported is

                  `immediate_or_cancel`. Therefore, combination orders will never
                  remain on a book,

                  and this field will always be zero.

                  '
        direction:
          type: string
          enum:
          - buy
          - sell
        price:
          type: number
          description: 'Limit price. May be omitted if no price was supplied (e.g.
            for a market order).


            For combination orders this specifies limit price per unit of the combination.

            '
        amount:
          type: number
          description: 'Order size (as inserted or amended to).


            For combination orders this specifies the amount of units of the combination
            to trade.

            '
        filled_amount:
          type: number
          description: 'Part of the order that has been executed.


            For combination orders this specifies the amount of units of the combination
            filled.

            Legs are filled proportionally to their quantities.

            '
        remaining_amount:
          type: number
          description: 'Part of the order that remains in the book; if 0, order is
            now inactive.


            For combination orders this specifies the amount of units of the combination
            remaining on a book.

            Note that the only `time_in_force` for combination orders currently supported
            is

            `immediate_or_cancel`. Therefore, combination orders will never remain
            on a book,

            and this field will always be zero.

            '
        label:
          type: string
          description: Label supplied with insert. Can also be a number. Field is
            omitted if no label was supplied.
        client_order_id:
          type: number
          description: Client-supplied order id. Field is omitted if no client order
            id was supplied.
        status:
          type: string
          enum:
          - open
          - partially_filled
          - cancelled
          - cancelled_partially_filled
          - filled
        fills:
          type: array
          items:
            $ref: '#/components/schemas/OrderFill'
          description: 'These are new fills related to this order status update, except
            if `change_reason` is

            `existing`, then the list will contain all known fills.

            '
        change_reason:
          type: string
          enum:
          - existing
          - insert
          - amend
          - cancel
          - fill
        delete_reason:
          type: string
          enum:
          - client_cancel
          - client_bulk_cancel
          - session_end
          - instrument_deactivated
          - mm_protection
          - failover
          - margin_breach
          - filled
          - immediate_cancel
          - admin_cancel
          description: "Detailed reason of order deletion if the order was deleted,\
            \ omitted otherwise.\n\nThe following reasons are possible:\n\n- `client_cancel`:\
            \ Order was cancelled by the client, e.g. with a call to `private/cancel`.\n\
            \n- `client_bulk_cancel`: Order was cancelled by the client with a bulk\
            \ cancel call, e.g. `private/cancel_all`.\n\n- `session_end`: Non-persistent\
            \ order was automatically cancelled when a WebSocket session ended.\n\n\
            - `instrument_deactivated`: Order was automatically cancelled when the\
            \ order instrument was deactivated,\n  for example after expiration.\n\
            \n- `mm_protection`: Order was automatically cancelled when configured\
            \ market maker protection amount was exhausted.\n\n- `failover`: Non-persistent\
            \ order was automatically cancelled on matching engine failover.\n\n-\
            \ `margin_breach`: Order was automatically cancelled in a response to\
            \ a margin breach on the account as part\n  of automatic liquidation procedures.\n\
            \n- `filled`: Order was filled in full.\n\n- `immediate_cancel`: The order\
            \ was submitted as \"immediate-or-cancel\" and was not filled in full\
            \ immediately.\n  Note that the order might be partially filled when this\
            \ delete reason is set.\n\n- `admin_cancel`: The order was cancelled by\
            \ an exchange admin.\n"
        insert_reason:
          type: string
          enum:
          - client_request
          - conditional_order
          - liquidation
          description: Detailed reason of order insertion.
        conditional_order_id:
          type: string
          description: 'If the order was triggered by a conditional order (stop order),
            the ID of that conditional order.

            Otherwise omitted.

            '
        bot_id:
          type: string
          description: 'If the order was inserted by a bot, the ID of that bot.

            Otherwise omitted.

            '
        create_time:
          type: number
          description: Creation time (Unix timestamp).
        close_time:
          type: number
          description: Time when this order was closed or canceled (Unix timestamp).
            Omitted for orders that are still open.
        reduce_only:
          type: boolean
          description: True if the order is a reduce only order, omitted otherwise.
        persistent:
          type: boolean
          description: True if the order is a persistent order, false otherwise.
      example:
        order_id: '1728379719872'
        time_in_force: good_till_cancelled
        instrument_name: BTC-PERPETUAL
        price: 45000
        amount: 1.1
        order_type: limit
        direction: buy
        filled_amount: 0
        remaining_amount: 1.1
        status: open
        fills: []
        change_reason: insert
        insert_reason: client_request
    OrderHistory:
      type: object
      description: Historical order.
      required:
      - order_id
      - direction
      - amount
      - filled_amount
      - status
      - fills
      - insert_reason
      - delete_reason
      - create_time
      - close_time
      - order_type
      properties:
        order_id:
          type: string
          description: System order ID, use to identify in amend/cancel, and to match
            trades.
        order_type:
          type: string
          enum:
          - limit
          - market
        instrument_name:
          type: string
          description: 'Order instrument name.


            Not present for combination orders. Refer to `legs` field instead.

            '
        legs:
          type: array
          description: 'List of legs for this combination order.


            Not present for single-leg orders. Refer to `instrument_name` field instead.

            '
          items:
            type: object
            required:
            - instrument_name
            - quantity
            - filled_amount
            properties:
              instrument_name:
                type: string
                description: 'Leg instrument name.

                  '
              quantity:
                type: number
                description: 'Quantity of this leg in a unit of the combination. A
                  non-zero integer, negative for short legs.

                  '
              filled_amount:
                type: number
                description: 'Amount executed on this leg.


                  Legs are filled proportionally to their quantities.

                  '
        direction:
          type: string
          enum:
          - buy
          - sell
        price:
          type: number
          description: 'Limit price. May be omitted if no price was supplied (e.g.
            for a market order).


            For combination orders this specifies limit price per unit of the combination.

            '
        amount:
          type: number
          description: 'Order size (as inserted or amended to).


            For combination orders this specifies the amount of units of the combination
            to trade.

            '
        filled_amount:
          type: number
          description: 'Part of the order that has been executed.


            For combination orders this specifies the amount of units of the combination
            filled.

            Legs are filled proportionally to their quantities.

            '
        label:
          type: string
          description: Label supplied with insert. Can also be a number. Field is
            omitted if no label was supplied.
        client_order_id:
          type: number
          description: Client-supplied order id. Field is omitted if no client order
            id was supplied.
        status:
          type: string
          enum:
          - open
          - partially_filled
          - cancelled
          - cancelled_partially_filled
          - filled
        fills:
          type: array
          items:
            $ref: '#/components/schemas/OrderFill'
          description: All fills for this order.
        delete_reason:
          type: string
          enum:
          - client_cancel
          - client_bulk_cancel
          - session_end
          - instrument_deactivated
          - mm_protection
          - failover
          - margin_breach
          - filled
          - immediate_cancel
          - admin_cancel
          description: "Detailed reason of order deletion if the order was deleted,\
            \ omitted otherwise.\n\nThe following reasons are possible:\n\n- `client_cancel`:\
            \ Order was cancelled by the client, e.g. with a call to `private/cancel`.\n\
            \n- `client_bulk_cancel`: Order was cancelled by the client with a bulk\
            \ cancel call, e.g. `private/cancel_all`.\n\n- `session_end`: Non-persistent\
            \ order was automatically cancelled when a WebSocket session ended.\n\n\
            - `instrument_deactivated`: Order was automatically cancelled when the\
            \ order instrument was deactivated,\n  for example after expiration.\n\
            \n- `mm_protection`: Order was automatically cancelled when configured\
            \ market maker protection amount was exhausted.\n\n- `failover`: Non-persistent\
            \ order was automatically cancelled on matching engine failover.\n\n-\
            \ `margin_breach`: Order was automatically cancelled in a response to\
            \ a margin breach on the account as part\n  of automatic liquidation procedures.\n\
            \n- `filled`: Order was filled in full.\n\n- `immediate_cancel`: The order\
            \ was submitted as \"immediate-or-cancel\" and was not filled in full\
            \ immediately.\n  Note that the order might be partially filled when this\
            \ delete reason is set.\n\n- `admin_cancel`: The order was cancelled by\
            \ an exchange admin.\n"
        insert_reason:
          type: string
          enum:
          - client_request
          - conditional_order
          - liquidation
          description: Detailed reason of order insertion.
        conditional_order_id:
          type: string
          description: 'If the order was triggered by a conditional order (stop order),
            the ID of that conditional order.

            Otherwise omitted.

            '
        bot_id:
          type: string
          description: 'If the order was inserted by a bot, the ID of that bot.

            Otherwise omitted.

            '
        create_time:
          type: number
          description: Creation time (Unix timestamp).
        close_time:
          type: number
          description: Time when this order was closed or canceled (Unix timestamp).
        reduce_only:
          type: boolean
          description: True if the order is a reduce only order, omitted otherwise.
      example:
        order_id: 001BF14D00000003
        instrument_name: BTC-16DEC23-46000-C
        direction: sell
        price: 10.0,
        amount: 0.2,
        filled_amount: 0.2,
        status: filled
        fills:
        - trade_id: 008000000000000017A0CACBF5A3BF38
          price: 10.0
          amount: 0.2
          time: 1702583649.3794017
          maker_taker: taker
        create_time: 1702583649.379417,
        close_time: 1702583649.379417,
        insert_reason: client_request
        delete_reason: filled
        order_type: limit
    OrderFill:
      type: object
      required:
      - trade_id
      - price
      - amount
      - maker_taker
      - leg_index
      properties:
        trade_id:
          type: string
          description: Trade ID.
        price:
          type: number
          description: Fill price.
        amount:
          type: number
          description: Filled amount
        time:
          type: number
        maker_taker:
          type: string
          enum:
          - maker
          - taker
          description: Maker (trade on book order) or taker (trade on new order),
            if applicable.
        leg_index:
          type: number
          description: 'Index of a leg on which the trade happened for combination
            orders. Zero for single-leg orders.


            For combination orders the direction of the trade is defined by the direction
            of the order and

            the sign of the leg quantity.

            '
    InsertRequest:
      type: object
      required:
      - amount
      properties:
        client_order_id:
          type: integer
          description: 'Session-local identifier for this order. Only valid for websocket
            sessions. If set,

            must be an integer between 0 and 2^64-1, inclusive. When using numbers
            larger than 2^32,

            please beware of implicit floating point conversions in some JSON libraries.

            '
        instrument_name:
          type: string
          description: 'Name of the instrument to trade.


            This field must not be present when inserting a combination order. Use
            `legs` field instead.

            '
        legs:
          type: array
          description: 'List of legs for a combination order.


            There must be at least two and at most four legs specified. All leg instruments
            must be distinct.


            Other constraints apply, please check trading information page on combination
            orders.


            This field must not be present when inserting single-leg orders. Use `instrument_name`
            field instead.

            '
          items:
            type: object
            required:
            - instrument_name
            - quantity
            properties:
              instrument_name:
                type: string
                description: 'Name of the instrument to trade on this leg.

                  '
              quantity:
                type: number
                description: 'Quantity of this leg in a unit of the combination. Must
                  be integer. Must not be zero. Use a negative number for short legs.


                  Result of multiplication of `quantity` and order `amount` must be
                  aligned to tick size for every leg.

                  '
        price:
          type: number
          description: 'Limit price; required for limit orders.


            For combination orders this specifies limit price per unit of the combination.

            '
        amount:
          type: number
          description: 'Amount of currency to trade (e.g. BTC for futures).


            For combination orders this specifies the amount of units of the combination
            to trade.

            '
        label:
          type: string
        order_type:
          type: string
          enum:
          - limit
          - market
          default: limit
        time_in_force:
          type: string
          enum:
          - good_till_cancelled
          - immediate_or_cancel
          description: 'Note that for limit orders, the default `time_in_force` is

            `good_till_cancelled`, while for market orders, the default is

            `immediate_or_cancel`. It is illegal to send a GTC market order, or an
            IOC post

            order.


            For combination orders `time_in_force` must always be set to `immediate_or_cancel`.

            '
        post_only:
          type: boolean
          description: 'If the order price is in cross with the current best price
            on the opposite side in the

            order book, then the price is adjusted to one tick away from that price,
            ensuring that

            the order will never trade on insert. If the adjusted price of a buy order
            falls at or

            below zero where not allowed, then the order is cancelled with delete
            reason ''immediate_cancel''.


            This flag is not supported for combination orders.

            '
        reject_post_only:
          type: boolean
          description: 'This flag is only effective in combination with post_only.
            If set, then instead of adjusting

            the order price, the order will be cancelled with delete reason ''immediate_cancel''.
            The

            combination of post_only and reject_post_only is effectively a book-or-cancel
            order.


            This flag is not supported for combination orders.

            '
        reduce_only:
          type: boolean
          description: 'An order marked `reduce_only` will have its amount reduced
            to the open position.

            If there is no open position, or if the order direction would cause an
            increase

            of the open position, the order is rejected. If the order is placed in
            the book,

            it will be subsequently monitored, and reduced to the open position if
            the

            position changes through other means (best effort). Multiple reduce-only
            orders

            will all be reduced individually.


            This flag is not supported for combination orders.

            '
        collar:
          type: string
          enum:
          - ignore
          - reject
          - clamp
          description: 'If the instrument has a safety price collar set, and the limit
            price of the order

            (infinite for market orders) is in cross with (more aggressive than) this
            collar,

            how to handle. If set to `ignore`, the order will proceed as requested.
            If `reject`,

            the order fails early. If `clamp`, the price is adjusted to the collar.


            The default is `clamp` for market orders and `reject` for everything else.


            Collar `ignore` is forbidden for market orders.


            Price collars are applied to combination orders. Price collar for a combination
            is a linear combination of the leg collars with their corresponding quantities
            as coefficients.

            '
      example:
        instrument_name: BTC-PERPETUAL
        price: 45000
        amount: 1.1
        order_type: limit
    Notifications:
      type: object
      properties:
        notifications:
          type: array
          description: List of notifications ordered from newest to oldest.
          items:
            type: object
            required:
            - id
            - time
            - category
            - title
            - message
            - display_type
            - read
            - popup
            properties:
              id:
                type: string
                description: Unique notification ID.
              time:
                type: number
                description: Time of notification (Unix timestamp).
              category:
                type: string
                description: Notification category (see API description / Notifications).
              title:
                type: string
                description: Human-readable title for the notification.
              message:
                type: string
                description: Human-readable message for the notification.
              display_type:
                type: string
                description: Specifies what style to use for notification display.
                enum:
                - success
                - failure
                - info
                - warning
                - critical
              read:
                type: boolean
                description: set to true if notification was marked as read.
              account_name:
                type: string
                description: Optional account name, only present if the notification
                  is related to an account.
              account_number:
                type: string
                description: Optional account number only present if the notification
                  is related to an account.
              popup:
                type: boolean
                description: User preference - show popup for this notification
      example:
        notifications:
        - id: 00000000000000A3
          time: 1630069885.130461
          category: risk
          title: Margin Requirements
          message: Portfolio of account foo-123 breached initial margin requirements.
          display_type: warning
          read: false
          account_name: foo-123
          account_number: A123456789
          popup: true
    Instrument:
      type: object
      properties:
        instrument_name:
          type: string
        product:
          type: string
          description: E.g. "FBTCUSD", "OBTCUSD".
        tick_size:
          type: number
          description: Price alignment.
        volume_tick_size:
          type: number
          description: Amount alignment.
        min_order_amount:
          type: number
          description: 'Minimum order amount for this instrument. This value is always
            greater or equal to `volume_tick_size`.


            If this value is greater than `volume_tick_size`, it is not possible to
            insert an order of a smaller amount,

            or amend an existing order to a smaller amount. However, orders in the
            books can have smaller remaining

            amounts as they get partially filled, down to the minimum of `volume_tick_size`.

            '
        underlying:
          type: string
          description: Related index, e.g. "BTCUSD".
        type:
          type: string
          enum:
          - perpetual
          - future
          - option
          - combination
        option_type:
          type: string
          enum:
          - call
          - put
        expiry_date:
          type: string
          description: Expiration date in ISO format (YYYY-mm-dd).
        expiration_timestamp:
          type: integer
          description: Expiration time as Unix timestamp (seconds).
        strike_price:
          type: number
          description: Strike price of option.
        base_currency:
          type: string
          description: Base currency for pricing (i.e. USD).
        legs:
          type: array
          description: For combinations, array of objects with `instrument_name` and
            `quantity`.
          items:
            type: object
            properties:
              instrument_name:
                type: string
              quantity:
                type: integer
        create_time:
          type: number
          description: Creation time (Unix timestamp).
        settlement_price:
          type: number
          description: For expired instruments, the final settlement price.
        settlement_index_price:
          type: number
          description: For expired instruments, the underlying delivery price.
      example:
        instrument_name: BTC-10SEP21-70000-C
        product: OBTCUSD
        tick_size: 5
        volume_tick_size: 0.1
        min_order_amount: 0.1
        underlying: BTCUSD
        type: option
        option_type: call
        expiry_date: '2021-09-10'
        expiration_timestamp: 1631260800
        strike_price: 70000
        base_currency: USD
        create_time: 1631250800.103645
    PortfolioEntry:
      type: object
      properties:
        instrument_name:
          type: string
          description: Instrument name.
        position:
          type: number
          description: Amount of this contract currently held; short positions are
            negative.
        mark_price:
          type: number
          description: Current mark price for the instrument.
        iv:
          type: number
          description: Implied volatility calculated at time of marking.
        index:
          type: number
          description: Index price at time of marking.
        start_price:
          type: number
          description: 'Average price paid to obtain position.


            Note: for instruments that are subject to daily futures-style settlement,
            the start price

            is reset to the mark price at the end of each session and all the unrealized
            P&L is thus realized.

            Use `private/daily_mark_history` API endpoint to get information about
            daily settlements.

            '
        average_price:
          type: number
          description: Average price paid to obtain position. Doesn't reset at settlement.
        unrealised_pnl:
          type: number
          description: 'Unrealised P&L in the current session for this position based
            on current mark price,

            equal to `(mark_price - start_price) * position`.


            Note: for instruments that are subject to daily futures-style settlement,
            the start price

            is reset to the mark price at the end of each session and all the unrealized
            P&L is thus realized.

            Use `private/daily_mark_history` API endpoint to get information about
            daily settlements.

            '
        realised_pnl:
          type: number
          description: "Realized P&L in the current session.\n\nRealized P&L is settled\
            \ into a settlement asset at the end of each session. \n"
        entry_value:
          type: number
          description: Total entry value, equal to `start_price * position`.
        perpetual_funding_entry_value:
          type: number
          description: 'Entry mark value for perpetual funding.

            Unrealised perpetual funding is (current perp funding mark * position)
            -

            perpetual funding entry value. Not

            included if zero.

            '
        unrealised_perpetual_funding:
          type: number
          description: 'For perpetual positions, current unrealized perpetual funding.


            The funding is realized as P&L and settled into settlement asset at the
            end of each session.

            '
      example:
        instrument_name: BTC-PERPETUAL
        position: 1
        mark_price: 47299.741264339274
        start_price: 47260
        average_price: 47260
        unrealised_pnl: 39.75859976453942
        realised_pnl: 0
        entry_value: 47260
        perpetual_funding_entry_value: -0.13040705
        unrealised_perpetual_funding: 0.017335425264924917
    ConditionalOrder:
      type: object
      required:
      - order_id
      - instrument_name
      - direction
      - amount
      - stop_price
      - status
      - create_time
      - update_time
      - reject_reason
      - reduce_only
      - target
      properties:
        order_id:
          type: string
          description: Unique ID, use to identify in cancel
        instrument_name:
          type: string
        direction:
          type: string
          enum:
          - buy
          - sell
        amount:
          type: number
          description: Size of the order when activated
        target:
          type: string
          enum:
          - last
          - mark
          - index
          description: The trigger type that `stop_price` and `bracket_price` will
            refer to.
        stop_price:
          type: number
          description: Trigger price at which the order will be activated
        limit_price:
          type: number
          description: For stop limit order, the price at which the order will be
            placed
        bracket_price:
          type: number
          description: For bracket order, the price at which profit will be taken
            (upper activation price)
        trailing_stop_callback_rate:
          type: number
          description: For trailing stop loss, the callback rate as a ratio (e.g.
            0.05 for 5%)
        label:
          type: string
          description: Optional user label
        status:
          type: string
          enum:
          - created
          - active
          - converted
          - rejected
          - cancel requested
          - cancelled
        create_time:
          type: number
        update_time:
          type: number
          description: Time of last update (conversion or change of trailing stop
            price)
        convert_time:
          type: number
          description: Time of trigger
        converted_order_id:
          type: string
          description: System order ID of the created order.
        reject_reason:
          type: string
          description: If conversion failed, the reason
        reduce_only:
          type: boolean
      example:
        order_id: 00011E570000004B
        instrument_name: BTC-PERPETUAL
        direction: buy
        amount: 1
        stop_price: 50000
        limit_price: 45000
        status: created
        create_time: 1630062311.3324597
        update_time: 1630062311.3324597
        reduce_only: false
        target: mark
    Bot:
      oneOf:
      - title: SGSL
        type: object
        required:
        - strategy
        - bot_id
        - status
        - instrument_name
        - entry_price
        - target_position
        - exit_price
        - exit_position
        - end_time
        - signal
        properties:
          bot_id:
            type: string
            description: Individually identifies this bot instance. You can use it
              to cancel this specific one.
          status:
            type: string
            enum:
            - active
            - stopped
          stop_reason:
            type: string
            description: The reason why the bot stopped executing. Possible values
              are ["client_cancel", "client_bulk_cancel", "end_time", "instrument_deactivated",
              "margin_breach", "admin_cancel", "conflict", "strategy"].
          strategy:
            type: string
            description: equal to "sgsl"
          instrument_name:
            type: string
            description: Name of the instrument.
          signal:
            type: string
            enum:
            - last
            - index
            - mark
          entry_price:
            type: number
            description: Price to compare `signal` price to, to determine necessary
              adjustments to the portfolio. See [the bot strategies section](#tag/bot_strategies)
              for more explanation.
          target_position:
            type: number
            description: The target position to maintain in the subaccount if `signal`
              price is above `entry_price`. See [the bot strategies section](#tag/bot_strategies)
              for more explanation.
          exit_price:
            type: number
            description: Price to compare `signal` price to, to determine necessary
              adjustments to the portfolio. See [the bot strategies section](#tag/bot_strategies)
              for more explanation.
          exit_position:
            type: number
            description: The target position to maintain in the subaccount if `signal`
              price is below `exit_price`. See [the bot strategies section](#tag/bot_strategies)
              for more explanation.
          max_slippage:
            type: number
            description: Maximum slippage per trade, expressed as % of the traded
              instruments mark price.
          end_time:
            type: number
            description: Timestamp when the bot stops executing, cancelling its orders
              and leaving all positions of the subaccount intact.
          label:
            type: string
            description: A label that the bot will add to all orders for easy identification.
      - title: OCQ
        type: object
        required:
        - strategy
        - instrument_name
        - status
        - bid_offset
        - ask_offset
        - signal
        - quote_size
        - min_position
        - max_position
        - end_time
        - bot_id
        properties:
          bot_id:
            type: string
            description: Individually identifies this bot instance. You can use it
              to cancel this specific one.
          status:
            type: string
            enum:
            - active
            - stopped
          stop_reason:
            type: string
            description: The reason why the bot stopped executing. Possible values
              are ["client_cancel", "client_bulk_cancel", "end_time", "instrument_deactivated",
              "margin_breach", "admin_cancel", "conflict", "strategy"].
          strategy:
            type: string
            description: equal to "ocq"
          instrument_name:
            type: string
            description: Name of the instrument.
          signal:
            type: string
            enum:
            - index
            - mark
          bid_offset:
            type: number
            description: The offset of the price of the bid quote from the signal
              price. See [the bot strategies section](#tag/bot_strategies) for more
              explanation.
          ask_offset:
            type: number
            description: The offset of the price of the ask quote from the signal
              price. See [the bot strategies section](#tag/bot_strategies) for more
              explanation.
          quote_size:
            type: number
            description: The default size of both the bid and ask quote, See [the
              bot strategies section](#tag/bot_strategies) for more explanation.
          min_position:
            type: number
            description: The minimum portfolio position to maintain in the subaccount.
              See [the bot strategies section](#tag/bot_strategies) for more explanation.
          max_position:
            type: number
            description: The maximum portfolio position to maintain in the subaccount.
              See [the bot strategies section](#tag/bot_strategies) for more explanation.
          end_time:
            type: number
            description: Timestamp when the bot stops executing, cancelling its orders
              and leaving all positions of the subaccount intact.
          label:
            type: string
            description: A label that the bot will add to all orders for easy identification.
      - title: Levels
        type: object
        required:
        - strategy
        - instrument_name
        - bids
        - asks
        - step_size
        - base_position
        - upside_exit_price
        - downside_exit_price
        - end_time
        - bot_id
        - status
        properties:
          bot_id:
            type: string
            description: Individually identifies this bot instance. You can use it
              to cancel this specific one.
          status:
            type: string
            enum:
            - active
            - stopped
          stop_reason:
            type: string
            description: The reason why the bot stopped executing. Possible values
              are ["client_cancel", "client_bulk_cancel", "end_time", "instrument_deactivated",
              "margin_breach", "admin_cancel", "conflict", "strategy"].
          strategy:
            type: string
            description: equal to "levels"
          instrument_name:
            type: string
            description: Name of the instrument the bot instance is trading.
          bids:
            type: array
            description: The default price levels the bot will be bidding at. See
              [the bot strategies section](#tag/bot_strategies) for more explanation.
            items:
              type: number
          asks:
            type: array
            description: The default price levels the bot will be quoting on the ask
              side. See [the bot strategies section](#tag/bot_strategies) for more
              explanation.
            items:
              type: number
          step_size:
            type: number
            description: The default size of to quote on one level. See [the bot strategies
              section](#tag/bot_strategies) for more explanation.
          base_position:
            type: number
            description: Will be used as a reference to compare the subaccount's portfolio
              position in the instrument that this bot is trading to. See [the bot
              strategies section](#tag/bot_strategies) for more explanation.
          upside_exit_price:
            type: number
            description: If the mark price of the instrument this bot is trading goes
              above `upside_exit_price`, the bot cancels the maker orders, aggressively
              trades into `base_position`, and then stops executing.
          downside_exit_price:
            type: number
            description: If the mark price of the instrument this bot is trading goes
              below `downside_exit_price`, the bot cancels the maker orders, aggressively
              trades into `base_position`, and then stops executing.
          max_slippage:
            type: number
            description: Maximum slippage per trade when exiting any position, expressed
              as % of the traded instruments mark price.
          end_time:
            type: number
            description: Timestamp when the bot stops executing, cancelling its orders
              and leaving all positions of the subaccount intact.
          label:
            type: string
            description: A label that the bot will add to all orders for easy identification.
      - title: Grid
        type: object
        required:
        - strategy
        - instrument_name
        - grid
        - step_size
        - base_position
        - upside_exit_price
        - downside_exit_price
        - end_time
        - bot_id
        - status
        properties:
          bot_id:
            type: string
            description: Individually identifies this bot instance. You can use it
              to cancel this specific one.
          status:
            type: string
            description: One of ["active", "stopped"].
          stop_reason:
            type: string
            description: The reason why the bot stopped executing. Possible values
              are ["client_cancel", "client_bulk_cancel", "end_time", "instrument_deactivated",
              "margin_breach", "admin_cancel", "conflict", "strategy"].
          strategy:
            type: string
            description: Equal to "grid".
          instrument_name:
            type: string
            description: Name of the instrument the bot instance is trading.
          grid:
            type: array
            items:
              type: number
            description: The default price levels the bot will be quoting at. See
              [the bot strategies section](#tag/bot_strategies) for more explanation.
          step_size:
            type: number
            description: The default size to quote on one level. See [the bot strategies
              section](#tag/bot_strategies) for more explanation.
          base_position:
            type: number
            description: Will be used as a reference to compare the subaccount's portfolio
              position in the instrument that this bot is trading to. See [the bot
              strategies section](#tag/bot_strategies) for more explanation.
          upside_exit_price:
            type: number
            description: If the mark price of the instrument this bot is trading goes
              above `upside_exit_price`, the bot cancels the maker orders, aggressively
              trades into `base_position`, and then stops executing.
          downside_exit_price:
            type: number
            description: If the mark price of the instrument this bot is trading goes
              below `downside_exit_price`, the bot cancels the maker orders, aggressively
              trades into `base_position`, and then stops executing.
          max_slippage:
            type: number
            description: Maximum slippage per trade when exiting any position, expressed
              as % of the traded instruments mark price.
          end_time:
            type: number
            description: Timestamp when the bot stops executing, cancelling its orders
              and leaving all positions of the subaccount intact.
          label:
            type: string
            description: A label that the bot will add to all orders for easy identification.
      - title: DHedge
        type: object
        required:
        - strategy
        - instrument_name
        - period
        - threshold
        - target_delta
        properties:
          strategy:
            type: string
            description: Equal to "dhedge".
          instrument_name:
            type: string
            description: Name of the instrument the bot will trade.
          position:
            type: string
            description: Name of an instrument. If specified, the bot will only hedge
              the position in this instrument, not the entire underlying.
          target_delta:
            type: number
            description: The delta that the bot is targeting.
          threshold:
            type: number
            description: Tolerance threshold.
          period:
            type: number
            description: Number of seconds to let the deltas stay outside of `[target-threshold,
              target+threshold]`, before hedging them.
          max_slippage:
            type: number
            description: Maximum slippage per trade, expressed as % of the traded
              instruments mark price.
          end_time:
            type: number
            description: 'Timestamp when the bot should stop executing.

              If not specified, the bot will run until it''s manually stopped.

              When `end_time` is reached, the bot will leave all positions intact,
              it will not open/close any of them.

              '
          label:
            type: string
            description: A label that the bot will add to all orders for easy identification.
      - title: DFollow
        type: object
        required:
        - strategy
        - instrument_name
        - target_instrument
        - target_amount
        - threshold
        - end_time
        - period
        properties:
          strategy:
            type: string
            description: Equal to "dfollow".
          instrument_name:
            type: string
            description: Name of the instrument to trade, in order to follow the deltas
              of the target.
          target_instrument:
            type: string
            description: Name of the option to follow the deltas of.
          target_amount:
            type: number
            description: Amount of `target_instrument` contracts to follow the deltas
              of.
          threshold:
            type: number
            description: Tolerance threshold.
          period:
            type: number
            description: 'Number of seconds to let the deltas of the following position
              stay outside of `[target-threshold, target+threshold]`,

              before correcting them, where `target = deltas of target_instrument
              * target_amount`.

              '
          max_slippage:
            type: number
            description: Maximum slippage per trade, expressed as % of the traded
              instruments mark price.
          end_time:
            type: number
            description: 'Timestamp when the bot should stop executing.

              When `end_time` is reached, the bot will leave all positions intact,
              it will not open/close any of them.

              '
          label:
            type: string
            description: A label that the bot will add to all orders for easy identification.
      example:
        strategy: sgsl
        status: active
        bot_id: 0000000035832FDE
        instrument_name: BTC-PERPETUAL
        signal: index
        entry_price: 100050
        target_position: 0.2
        exit_price: 100000
        exit_position: 0
        end_time: 1740064912
    Trade:
      type: object
      properties:
        trade_type:
          type: string
          description: 'Type of the trade.


            Note: as of API v2.31.0 we have stopped representing futures-style settlements
            as trades of `daily_mark` type. You might still

            get such trades in the history, but no new trades of `daily_mark` type
            will be created.

            To get information about daily marks, use `private/daily_mark_history`
            API endpoint.

            '
          enum:
          - normal
          - block
          - combo
          - amend
          - delete
          - internal_transfer
          - expiration
          - daily_mark
          - rfq
          - liquidation
        trade_id:
          type: string
        order_id:
          type: string
        instrument_name:
          type: string
        direction:
          type: string
          enum:
          - buy
          - sell
        price:
          type: number
          description: Trade price.
        amount:
          type: number
          description: Traded amount.
        label:
          type: string
          description: User label.
        time:
          type: number
          description: Time of trade (Unix timestamp).
        position_after:
          type: number
          description: Position in this instrument right after the trade.
        session_realised_after:
          type: number
          description: Session realised P&L for this instrument right after the trade.
        position_pnl:
          type: number
          description: If trade closed a position, the positional P&L that was realised.
        perpetual_funding_pnl:
          type: number
          description: If trade closed a position in a perpetual, the funding P&L
            that was realised.
        fee:
          type: number
          description: The fee paid for this trade.
        index:
          type: number
          description: The relevant index at time of trade.
        fee_rate:
          type: number
          description: The fee rate applied to calculate the fee.
        funding_mark:
          type: number
          description: The perpetual funding mark as applied to the trade (see `Ticker`).
        liquidation_fee:
          type: number
          description: Fee paid in case of liquidation.
        client_order_id:
          type: number
          description: Client order reference as set in related order.
        maker_taker:
          type: string
          description: Maker (trade on book order) or taker (trade on new order),
            if applicable.
          enum:
          - maker
          - taker
        bot_id:
          type: string
          description: 'If the trade was made by a bot, the ID of that bot.

            Otherwise omitted.

            '
        leg_index:
          type: number
          description: 'Index of a leg on which the trade happened for combination
            orders. Zero for single-leg orders.


            For combination orders the direction of the trade is defined by the direction
            of the order and

            the sign of the leg quantity.

            '
      example:
        order_id: 00011E570000004A
        trade_id: 0080000000000000169F22D05B785A2B
        instrument_name: BTC-PERPETUAL
        direction: buy
        price: 47280
        amount: 0.1
        label: ''
        time: 1630059868.4145653
        position_after: 1.1
        trade_type: normal
        session_realised_after: 25
        fee_rate: 0.00025
        index: 47200
        fee: 1.18
        funding_mark: 0.014
        leg_index: 0
    DailyMark:
      type: object
      required:
      - time
      - instrument_name
      - position
      - mark_price
      - realized_position_pnl
      properties:
        time:
          type: number
          description: Time of settlement (Unix timestamp).
        instrument_name:
          type: string
          description: Instrument name.
        position:
          type: number
          description: Position in the instrument.
        mark_price:
          type: number
          description: Mark price used for settlement.
        realized_position_pnl:
          type: number
          description: Realized profit or loss for this position.
        realized_funding_pnl:
          type: number
          description: Realized perpetual funding. Only present for perpetuals.
      example:
        time: 1630059868.4145653
        instrument_name: BTC-PERPETUAL
        mark_price: 47280
        position: 0.1
        realized_position_pnl: 1220
        realized_funding_pnl: 10
    NotificationPreferences:
      type: object
      description: Notification preferences per category
      additionalProperties:
        type: object
        x-additionalPropertiesName: <category name>
        description: Map of notification preferences per category.
        properties:
          email:
            type: boolean
            description: E-mail message is sent for this notification.
          inbox:
            type: boolean
            description: Notification is placed in user/api key inbox.
          popup:
            type: boolean
            description: For user inbox notifications, determines if a popup is shown
              in the front end.
          sms:
            type: boolean
            description: SMS message is sent for this notification.
      example:
        new_api_key:
          email: true
          inbox: false
          popup: true
          sms: false
        funding_fee:
          email: false
          inbox: false
          popup: false
          sms: false
    NotificationPreferencesApiKey:
      type: object
      description: Notification preferences per category
      additionalProperties:
        type: object
        x-additionalPropertiesName: <category name>
        description: Map of notification preferences per category.
        properties:
          inbox:
            type: boolean
            description: Notification is placed in user/api key inbox.
      example:
        new_api_key:
          inbox: false
        funding_fee:
          inbox: false
    ApiKeyConfig:
      type: object
      description: API key config
      required:
      - nickname
      - default_account_number
      - permissions
      - active
      properties:
        nickname:
          type: string
          description: Key nickname to be displayed in the front end.
        default_account_number:
          type: string
          description: Account number of the default account for this key.
        permissions:
          type: array
          description: List of account permissions for this key.
          items:
            type: object
            required:
            - account_number
            - may_view
            - may_trade
            - may_withdraw
            - receive_notifications
            properties:
              account_number:
                type: string
                description: Account number.
              may_view:
                type: boolean
                description: Permission to view this account when logged in with this
                  key.
              may_trade:
                type: boolean
                description: Permission to trade in this account when logged in with
                  this key.
              may_withdraw:
                type: boolean
                description: Permission to withdraw assets from this account when
                  logged in with this key.
              receive_notifications:
                type: boolean
                description: Permission to receive account notifications when logged
                  in with this key.
        notifications:
          $ref: '#/components/schemas/NotificationPreferencesApiKey'
        active:
          type: boolean
          description: If `true` this API key is active, i.e. can be used to access
            the API.
        ip_whitelist:
          type: array
          description: 'Whitelisted IP addresses.


            If this list is not empty, the API key can only be used from one of the
            addresses on the list.


            Each list item is either a single string that contains a specific IP address,
            or an array of

            exactly two strings that define a whitelisted range of IP addresses (range
            ends included).

            Strings must be valid representations of IPv4 or IPv6 addresses. Special
            addresses

            (broadcast, loopback, multicast etc.) are not allowed. The addresses must
            be

            public IPs as seen by our servers.


            You can specify a maximum of 10 addresses.

            '
          items:
            oneOf:
            - type: string
            - type: array
              items:
                type: string
              minItems: 2
              maxItems: 2
      example:
        nickname: My primary key
        default_account_number: A123456789
        permissions:
        - account_number: A123456789
          may_trade: true
          may_view: true
          may_withdraw: false
          receive_notifications: true
        notifications:
          margin_call:
            inbox: true
        active: true
        ip_whitelist:
        - 186.0.0.5
        - - 187.0.0.1
          - 187.0.0.254
    AccountConfig:
      type: object
      required:
      - name
      - portfolio_margin
      properties:
        name:
          type: string
          description: Unique account name.
        portfolio_margin:
          type: boolean
          description: 'Enable portfolio margin for this account.


            Can only be set to `true` is portfolio margin is allowed for the current
            customer.

            '
      example:
        name: Secondary account
        portfolio_margin: false
    AccountSummary:
      type: object
      required:
      - cash
      - unrealised_pnl
      - cash_collateral
      - margin
      - required_margin
      - remaining_margin
      - session_realised_pnl
      properties:
        unrealised_pnl:
          type: number
          description: Total unrealised profit or loss.
        cash_collateral:
          type: number
          description: Total margin based on cash holdings.
        margin:
          type: number
          description: Total margin from unrealised P&L and cash holdings.
        required_margin:
          type: number
          description: Required margin based on current position.
        remaining_margin:
          type: number
          description: Difference between margin and required margin.
        session_realised_pnl:
          type: number
          description: Realised profit or loss in current session.
        cash:
          type: array
          description: List of cash holdings, for each relevant currency, and how
            they contribute to margin.
          items:
            type: object
            required:
            - currency
            - balance
            - collateral_factor
            - collateral_index_price
            - transactable
            properties:
              currency:
                type: string
                description: Currency name.
              balance:
                type: number
                description: Current balance in this currency.
              collateral_factor:
                type: number
                description: The collateral quality of the asset i.e. the fraction
                  of the asset that can be used as a collateral.
              collateral_index_price:
                type: number
                description: 'Index price used to calculate collateral effect of this
                  position.

                  Can be `null` for assets that are not converted using an index,
                  e.g. for stable coins.

                  '
              transactable:
                type: boolean
                description: If this flag is `true`, this currency can be deposited
                  and withdrawn.
      example:
        cash:
        - currency: USDT
          balance: 1000000004483.9625
          collateral_factor: 1
          collateral_index_price: null
          transactable: true
        unrealised_pnl: 491.00977310002116
        session_realised_pnl: 0
        cash_collateral: 1000000004483.9625
        margin: 1000000004994.1586
        required_margin: 13123.880458333333
        remaining_margin: 999999991870.2781
    DoubleSidedQuote:
      type: object
      required:
      - i
      properties:
        i:
          type: string
          description: instrument name
        b:
          oneOf:
          - type: array
            title: Multi-level quotes
            description: an array of bid quotes
            minItems: 0
            maxItems: 10
            items:
              type: array
              minItems: 2
              maxItems: 2
              prefixItems:
              - type: number
                description: Limit price.
              - type: number
                description: Amount; set to zero to delete quote.
          - type: object
            title: Single-level quote
            description: bid quote
            properties:
              p:
                type: number
                description: Limit price.
              a:
                type: number
                description: Amount; set to zero to delete quote.
            required:
            - p
            - a
        a:
          oneOf:
          - type: array
            title: Multi-level quotes
            description: an array of ask quotes
            minItems: 0
            maxItems: 10
            items:
              type: array
              minItems: 2
              maxItems: 2
              prefixItems:
              - type: number
                description: Limit price.
              - type: number
                description: Amount; set to zero to delete quote.
          - type: object
            title: Single-level quote
            description: ask quote
            properties:
              p:
                type: number
                description: Limit price.
              a:
                type: number
                description: Amount; set to zero to delete quote.
            required:
            - p
            - a
    DoubleSidedQuoteResult:
      type: object
      example:
        n_success: 4
        n_fail: 0
        errors: []
      required:
      - n_fail
      - n_success
      - errors
      properties:
        n_fail:
          type: number
          description: The number of individual quote sides failed to insert.
        n_success:
          type: number
          description: The number of individual quote sides successfully replaced
            or deleted.
        errors:
          type: array
          description: A collection of errors assembled during execution.
          items:
            type: object
            properties:
              code:
                type: number
                description: Error code.
              message:
                type: string
                description: Error message.
              side:
                type: string
                description: Optional quote side.
              price:
                type: number
                description: Optional price level.
    Deposit:
      type: object
      required:
      - currency
      - blockchain
      - transaction_hash
      - transaction_timestamp
      - amount
      - status
      properties:
        currency:
          type: string
          description: Deposited currency symbol.
        amount:
          type: number
          description: Amount of currency deposited.
        blockchain:
          type: string
          description: Blockchain used or this transaction.
        transaction_hash:
          type: string
          description: Transaction hash on the used blockchain.
        transaction_timestamp:
          type: number
          description: Time when this transaction was created (Unix timestamp).
        status:
          type: string
          description: Deposit transaction status.
          enum:
          - unconfirmed
          - confirmed
        confirmations:
          type: number
          description: Number of confirmations. Optional, omitted when none.
    Index:
      type: object
      summary: Index
      required:
      - index_name
      - price
      - timestamp
      properties:
        index_name:
          type: string
        price:
          type: number
        timestamp:
          type: number
          description: The unix timestamp when the index price was recorded in the
            database.
        expiration_print_average:
          type: number
          description: The average price so far over the current expiration, if any.
        expiration_progress:
          type: number
          description: A number between 0.0 and 1.0 indicating the progress of the
            current expiration.
        expected_expiration_price:
          type: number
          description: 'If expiration is in progress, and the index price will not
            change any more, this

            is the expiration price. Equals `expiration_progress * expiration_print_average
            + (1 - expiration_progress) * price`.

            '
        previous_settlement_price:
          type: number
          description: The last known settlement price (expiration price, underlying
            delivery price).
      example:
        index_name: BTCUSD
        price: 47389.10833333334
        timestamp: 946684800
    Ticker:
      type: object
      summary: Ticker
      properties:
        best_bid_price:
          type: number
          description: Price of the best (highest) bid in the orderbook, or `null`
            if the orderbook is empty.
        best_bid_amount:
          type: number
          description: Size of best bid, or `null` if the orderbook is empty.
        best_ask_price:
          type: number
          description: Price of best (lowest) ask in the orderbook, or `null` if the
            orderbook is empty.
        best_ask_amount:
          type: number
          description: Size of best ask, or `null` if the orderbook is empty.
        last_price:
          type: number
          description: 'Price of last trade, or `null` if no trades have been registered
            yet.


            Not included for combinations.

            '
        mark_price:
          type: number
          description: Current mark price.
        mark_timestamp:
          type: number
          description: The unix timestamp when the price was marked.
        iv:
          type: number
          description: 'Implied volatility calculated at time of marking.


            Only included for options. Not included for combinations.

            '
        delta:
          type: number
          description: 'Delta calculated at time of marking.


            Not included for combinations.

            '
        index:
          type: number
          description: Index price at time of marking.
        forward:
          type: number
          description: 'Forward price at time of marking.


            Only included for options.

            '
        volume_24h:
          type: number
          description: 'Total volume traded over the last 24 hours.


            Not included for combinations.

            '
        value_24h:
          type: number
          description: 'Total value traded over the last 24 hours.


            Not included for combinations.

            '
        low_price_24h:
          type: number
          description: 'Lowest price in the last 24 hours.


            Not included for combinations.

            '
        high_price_24h:
          type: number
          description: 'Highest price in the last 24 hours.


            Not included for combinations.

            '
        change_24h:
          type: number
          description: 'Difference in price between the first and the last trades
            in the last 24 hours, `null` if there were no trades.


            Not included for combinations.

            '
        collar_low:
          type: number
          description: Current price collar low (checks new asks)
        collar_high:
          type: number
          description: Current price collar high (checks new bids)
        open_interest:
          type: number
          description: 'Total number of outstanding unsettled contracts.


            Not included for combinations.

            '
        funding_rate:
          type: number
          description: 'Current rate at which long position pays and short position
            earns, in funding interval.


            Only included for perpetuals.

            '
        funding_mark:
          type: number
          description: 'Funding value of a single contract long position since last
            settlement.


            Only included for perpetuals.

            '
        realised_funding_24h:
          type: number
          description: 'Total funding accumulated for a single contract long position
            over the last 24 hours.


            Only included for perpetuals.

            '
        average_funding_rate_24h:
          type: number
          description: 'Average funding rate for the last 24 hours.


            Only included for perpetuals.

            '
      example:
        mark_price: 47238.64143906124
        mark_timestamp: 946684800
        best_bid_price: 47240
        best_bid_amount: 0.4
        best_ask_price: 47260
        best_ask_amount: 1
        delta: 1
        volume_24h: 0
        value_24h: 0
        open_interest: 123.456
    SystemEvent:
      type: object
      required:
      - event
      properties:
        event:
          type: string
          description: 'Type of the system event.


            - `reconnect`: you receive this event when the WebSocket connection is
            about to be closed by the server and you need to open a new one. This
            can happen, for example, during exchange maintenance windows. The event
            is sent at least 10 seconds before the connection is closed.

            '
          enum:
          - reconnect
      example:
        event: reconnect
    Banner:
      type: object
      required:
      - time
      - severity
      - message
      properties:
        id:
          type: number
          description: The id of this banner.
        time:
          type: number
          description: Time when this banner was posted (Unix timestamp).
        severity:
          type: string
          description: Severity of the banner message. Used to choose appropriate
            styling for banner display.
          enum:
          - info
          - warning
          - critical
        title:
          type: string
          description: Optional title of the banner.
        message:
          type: string
          description: Message text to be displayed in the banner.
      example:
        id: 1
        time: 1630059868.4145653
        severity: info
        title: Important information
        message: Starting next week we are lowering our fees by 10%.
    RfqOrder:
      type: object
      required:
      - rfq_id
      - order_id
      - direction
      - price
      - amount
      properties:
        rfq_id:
          type: string
          description: Identifier of the RFQ.
        order_id:
          type: string
          description: Identifier of the individual quote.
        client_order_id:
          type: number
          description: Client-supplied order id. Field is omitted if no client order
            id was supplied.
        direction:
          type: string
          enum:
          - buy
          - sell
        price:
          type: number
        amount:
          type: number
        label:
          type: string
        trade_price:
          type: number
          description: the price at which this order traded.
        trade_amount:
          type: number
          description: the number of combinations that traded.
        delete_reason:
          type: string
          enum:
          - client_cancel
          - session_end
          - instrument_deactivated
          - mm_protection
          - failover
          - margin_breach
          - filled
          description: Detailed reason of order deletion.
        event:
          type: string
          enum:
          - Inserted
          - Amended
          - Cancelled
          - Filled
          - Existing
          description: This field is set only on subscriptions.
    Rfq:
      type: object
      required:
      - rfq_id
      - legs
      - amount
      - create_time
      properties:
        rfq_id:
          type: string
          description: Identifier for this RFQ.
        amount:
          type: number
          description: Requested amount for this RFQ
        create_time:
          type: number
          description: Timestamp of creation (unix timestamp)
        valid_until:
          type: number
          description: Timestamp at which this RFQ will be automatically cancelled
            (unix timestamp)
        legs:
          type: array
          description: Combo legs. A minimalised version of the request such that
            quantities are integer.
          items:
            type: object
            required:
            - instrument_name
            - quantity
            - fee_quantity
            properties:
              instrument_name:
                type: string
              quantity:
                type: number
                description: Quantity for this leg. May be negative.
              fee_quantity:
                type: number
                description: Quantity for fee calculations. Anywhere between 0 and
                  abs(quantity).
        label:
          type: string
          description: User label set at creation. Not visibible to market makers.
        insert_reason:
          type: string
          enum:
          - client_request
          - liquidation
          description: Detailed reason for creation. Visible only to the requester.
        delete_reason:
          type: string
          enum:
          - client_cancel
          - filled
          description: Reason why this RFQ was removed. Visible only to the requester.
        volume_tick_size:
          type: number
          description: The minimum size / size increase for quotes.
        quoted_bid:
          type: object
          description: The bid price/amount quoted so far, if any. Visible only to
            the requester.
          properties:
            price:
              type: number
            amount:
              type: number
        quoted_ask:
          type: object
          description: The ask price/amount quoted so far, if any. Visible only to
            the requester.
          properties:
            price:
              type: number
            amount:
              type: number
        trade_price:
          type: number
          description: Combo price for which this RFQ was traded.
        trade_amount:
          type: number
          description: Amount in which this RFQ was traded.
        close_time:
          type: number
          description: Time at which this RFQ was cancelled or traded.
        event:
          type: string
          enum:
          - Created
          - Cancelled
          - Traded
          - Existing
          description: This field is set only on the `account.rfqs` subscription.
    PortfolioMarginBreakdown:
      type: object
      title: Portfolio Margin Breakdown
      description: Required margin breakdown for accounts that use portfolio margin.
      properties:
        portfolio:
          type: object
          properties:
            required_margin:
              type: number
              description: Total required margin for account.
            underlyings:
              type: array
              items:
                type: object
                properties:
                  underlying:
                    type: string
                    description: Underlying index name.
                  required_margin:
                    type: number
                    description: Total margin required for positions with this underlying.
                  scenario_margin:
                    type: number
                    description: Deprecated. Same value as `loss_margin`.
                  loss_margin:
                    type: number
                    description: Margin based on scenario loss coverage.
                  d1_roll_cash_position:
                    type: number
                    description: Delta one roll position x index price in this underlying.
                  options_roll_cash_position:
                    type: number
                    description: Options roll position x index price in this underlying.
                  roll_cash_position:
                    type: number
                    description: Roll position x index price in this underlying.
                  d1_roll_contingency_margin:
                    type: number
                    description: Margin based on delta one roll position.
                  options_roll_contingency_margin:
                    type: number
                    description: Margin based on options roll position.
                  roll_contingency_margin:
                    type: number
                    description: Margin based on roll position.
                  options_short_cash_position:
                    type: number
                    description: Total short options position x index price in this
                      underlying.
                  options_contingency_margin:
                    type: number
                    description: Margin based on options short position.
                  scenario_used:
                    type: integer
                    description: Index of the scenario in the `scenarios` array that
                      was used to calculate total margin requirements for this underlying.
                  scenarios:
                    type: array
                    description: Scenarios that were simulated.
                    items:
                      type: object
                      properties:
                        underlying_change_pct:
                          type: number
                          description: Simulated underlying change, %
                        vol_change_pct_point:
                          type: number
                          description: Simulated volatility change, %
                        pnl:
                          type: number
                          description: P&L resulting from this scenario.
                        coverage_factor:
                          type: number
                          description: Effect factor of P&L on the loss margin.
                        required_margin:
                          type: number
                          description: Total required margin in this scenario.
                        loss_margin:
                          type: number
                          description: Margin based on scenario loss coverage.
                        roll_cash_position:
                          type: number
                          description: Roll position x index price in this underlying.
                        roll_contingency_margin:
                          type: number
                          description: Margin based on roll position.
                        d1_roll_cash_position:
                          type: number
                          description: Delta one roll position x index price in this
                            underlying.
                        d1_roll_contingency_margin:
                          type: number
                          description: Margin based on delta one roll position.
                        options_roll_cash_position:
                          type: number
                          description: Options roll position x index price in this
                            underlying.
                        options_roll_contingency_margin:
                          type: number
                          description: Margin based on options roll position.
                        options_short_cash_position:
                          type: number
                          description: Total short options position x index price
                            in this underlying.
                        options_contingency_margin:
                          type: number
                          description: Margin based on options short position.
                        positions:
                          type: array
                          items:
                            description: Results of scenario simulations on affected
                              portfolio positions and open orders.
                            type: object
                            properties:
                              instrument_name:
                                type: string
                                description: Instrument feedcode.
                              position:
                                type: number
                                description: Position/order size in contracts.
                              instrument_pnl:
                                type: number
                                description: P&L for a single contract of this instrument.
                              pnl:
                                type: number
                                description: Total P&L for the position/order in this
                                  instrument.
                              current_price:
                                type: number
                                description: 'The price at the moment of scenario
                                  calculation.


                                  For positions this is set to the current mark price.


                                  For open orders this is the order limit price.

                                  '
                              scenario_price:
                                type: number
                                description: The price simulated for the scenario.
                              open_order:
                                type: boolean
                                description: Indicates whether this position is implied
                                  from an open order.
                              assumed_filled:
                                type: boolean
                                description: 'Indicates whether this order was assumed
                                  to be filled in this scenario.


                                  Orders are assumed to be filled if they, for the
                                  particular scenario, generate an immediate

                                  loss if filled at the limit price.


                                  Only orders that are assumed to be filled are taken
                                  into account for the loss, roll contingency and

                                  option contingency margin requirements.


                                  This field is only present if `open_order` is `true`.

                                  '
                        assets:
                          type: array
                          description: Results of scenario simulations on affected
                            asset positions.
                          items:
                            type: object
                            properties:
                              asset_name:
                                type: string
                                description: Asset name
                              position:
                                type: number
                              underlying_pnl:
                                type: number
                                description: P&L for a single unit of this asset.
                              pnl:
                                type: number
                                description: Total P&L for the position in this asset.
                              current_price:
                                type: number
                                description: The price at the moment of scenario calculation.
                              scenario_price:
                                type: number
                                description: The price calculated for the scenario.
                        highlight:
                          type: boolean
                          description: '`true` if this scenario was used to calculate
                            total margin requirements for this underlying.'
      example:
        portfolio:
          required_margin: -155.90231262790033
          underlyings:
          - required_margin: -155.90231262790033
            underlying: BTCUSD
            scenario_used: 0
            scenarios:
            - underlying_change_pct: 5
              vol_change_pct_point: 0
              pnl: 364.71774475516037
              coverage_factor: 1
              required_margin: -155.90231262790033
              loss_margin: -364.71774475516037
              roll_contingency_margin: 151.54255212726002
              roll_cash_position: 3788.5638031815006
              d1_roll_contingency_margin: 151.54255212726002
              d1_roll_cash_position: 3788.5638031815006
              options_roll_contingency_margin: 151.54255212726002
              options_roll_cash_position: 3788.5638031815006
              options_contingency_margin: 57.27288000000001
              options_short_cash_position: 22909.152000000002
              positions:
              - instrument_name: BTC-PERPETUAL
                position: 0.27
                instrument_pnl: 1431.8220000000001
                pnl: 386.5919400000001
                scenario_price: 30068.262000000002
                current_price: 28636.440000000002
                open_order: false
              - instrument_name: BTC-24MAR23-29000-P
                position: -0.5
                instrument_pnl: -567.2818767594899
                pnl: 283.64093837974497
                scenario_price: 208.2254034876978
                current_price: 775.5072802471877
                open_order: false
              - instrument_name: BTC-23MAR23-28800-C
                position: -0.3
                instrument_pnl: 1018.3837787486154
                pnl: -305.5151336245846
                scenario_price: 1318.3837787486154
                current_price: 300
                open_order: true
                assumed_filled: true
              assets: []
              highlight: false
            - underlying_change_pct: 10
              vol_change_pct_point: 0
              pnl: 420.78633636138727
              coverage_factor: 1
              required_margin: -211.97090423412723
              loss_margin: -420.78633636138727
              roll_contingency_margin: 151.54255212726002
              roll_cash_position: 3788.5638031815006
              d1_roll_contingency_margin: 151.54255212726002
              d1_roll_cash_position: 3788.5638031815006
              options_roll_contingency_margin: 151.54255212726002
              options_roll_cash_position: 3788.5638031815006
              options_contingency_margin: 57.27288000000001
              options_short_cash_position: 22909.152000000002
              positions:
              - instrument_name: BTC-PERPETUAL
                position: 0.27
                instrument_pnl: 2863.6440000000002
                pnl: 773.1838800000002
                scenario_price: 31500.084000000003
                current_price: 28636.440000000002
                open_order: false
              - instrument_name: BTC-24MAR23-29000-P
                position: -0.5
                instrument_pnl: -742.0834856469746
                pnl: 371.0417428234873
                scenario_price: 33.423794600213114
                current_price: 775.5072802471877
                open_order: false
              - instrument_name: BTC-23MAR23-28800-C
                position: -0.3
                instrument_pnl: 2411.464288207
                pnl: -723.4392864621001
                scenario_price: 2711.464288207
                current_price: 300
                open_order: true
                assumed_filled: true
              assets: []
              highlight: false
            loss_margin: -155.90231262790033
            roll_contingency_margin: 151.54255212726002
            roll_cash_position: 3788.5638031815006
            options_roll_contingency_margin: 151.54255212726002
            options_roll_cash_position: 3788.5638031815006
            d1_roll_contingency_margin: 151.54255212726002
            d1_roll_cash_position: 3788.5638031815006
            options_contingency_margin: 57.27288000000001
            options_short_cash_position: 22909.152000000002
    MarginBreakdownWithOrder:
      type: object
      title: Margin Breakdown with order
      description: Lightweight margin breakdown without and with an order inserted
        as buy or sell.
      properties:
        current:
          type: object
          properties:
            required_margin:
              type: number
              description: Total required margin for account.
            underlying:
              type: object
              properties:
                underlying:
                  type: string
                  description: Underlying index name.
                required_margin:
                  type: number
                  description: Total margin required for positions with this underlying.
                loss_margin:
                  type: number
                  description: Margin based on scenario loss coverage.
                roll_contingency_margin:
                  type: number
                  description: Margin based on roll position.
                d1_roll_contingency_margin:
                  type: number
                  description: Margin based on delta one roll position.
                options_roll_contingency_margin:
                  type: number
                  description: Margin based on options roll position.
                options_contingency_margin:
                  type: number
                  description: Margin based on options short position.
        with_buy:
          type: object
          properties:
            required_margin:
              type: number
              description: Total required margin for account with the order inserted
                as buy.
            underlying:
              type: object
              properties:
                underlying:
                  type: string
                  description: Underlying index name.
                required_margin:
                  type: number
                  description: Total margin required for positions with this underlying.
                loss_margin:
                  type: number
                  description: Margin based on scenario loss coverage.
                roll_contingency_margin:
                  type: number
                  description: Margin based on roll position.
                d1_roll_contingency_margin:
                  type: number
                  description: Margin based on delta one roll position.
                options_roll_contingency_margin:
                  type: number
                  description: Margin based on options roll position.
                options_contingency_margin:
                  type: number
                  description: Margin based on options short position.
        with_sell:
          type: object
          properties:
            required_margin:
              type: number
              description: Total required margin for account with the order inserted
                as sell.
            underlying:
              type: object
              properties:
                underlying:
                  type: string
                  description: Underlying index name.
                required_margin:
                  type: number
                  description: Total margin required for positions with this underlying.
                loss_margin:
                  type: number
                  description: Margin based on scenario loss coverage.
                roll_contingency_margin:
                  type: number
                  description: Margin based on roll position.
                d1_roll_contingency_margin:
                  type: number
                  description: Margin based on delta one roll position.
                options_roll_contingency_margin:
                  type: number
                  description: Margin based on options roll position.
                options_contingency_margin:
                  type: number
                  description: Margin based on options short position.
      example:
        current:
          required_margin: -155.90231262790033
          underlying:
            required_margin: -155.90231262790033
            underlying: BTCUSD
            loss_margin: -155.90231262790033
            roll_contingency_margin: 151.54255212726002
            d1_roll_contingency_margin: 151.54255212726002
            options_roll_contingency_margin: 151.54255212726002
            options_contingency_margin: 57.27288000000001
        with_buy:
          required_margin: -155.90231262790033
          underlying:
            required_margin: -155.90231262790033
            underlying: BTCUSD
            loss_margin: -155.90231262790033
            roll_contingency_margin: 151.54255212726002
            d1_roll_contingency_margin: 151.54255212726002
            options_roll_contingency_margin: 151.54255212726002
            options_contingency_margin: 57.27288000000001
        with_sell:
          required_margin: -155.90231262790033
          underlying:
            required_margin: -155.90231262790033
            underlying: BTCUSD
            loss_margin: -155.90231262790033
            roll_contingency_margin: 151.54255212726002
            d1_roll_contingency_margin: 151.54255212726002
            options_roll_contingency_margin: 151.54255212726002
            options_contingency_margin: 57.27288000000001
paths:
  /private/insert:
    post:
      operationId: rest_private/insert
      tags:
      - Trading
      summary: Insert order
      description: 'Exchange: `https://thalex.com/api/v2/private/insert`


        Testnet: `https://testnet.thalex.com/api/v2/private/insert`


        Insert an order'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - type: object
                required:
                - direction
                properties:
                  direction:
                    type: string
                    enum:
                    - buy
                    - sell
              - $ref: '#/components/schemas/InsertRequest'
      responses:
        '200':
          description: Successful HTTP call
          content:
            application/json:
              schema:
                oneOf:
                - title: Success
                  type: object
                  properties:
                    result:
                      $ref: '#/components/schemas/OrderStatus'
                      example: &id001
                        order_id: '1728379719872'
                        time_in_force: good_till_cancelled
                        instrument_name: BTC-PERPETUAL
                        price: 45000
                        amount: 1.1
                        order_type: limit
                        direction: buy
                        filled_amount: 0
                        remaining_amount: 1.1
                        status: open
                        fills: []
                        change_reason: insert
                        insert_reason: client_request
                  example:
                    result: *id001
                - title: Error
                  $ref: '#/components/schemas/ErrorResponse'
  /private/buy:
    post:
      operationId: rest_private/buy
      tags:
      - Trading
      summary: Insert buy order
      description: 'Exchange: `https://thalex.com/api/v2/private/buy`


        Testnet: `https://testnet.thalex.com/api/v2/private/buy`


        Insert buy order'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsertRequest'
      responses:
        '200':
          description: Successful HTTP call
          content:
            application/json:
              schema:
                oneOf:
                - title: Success
                  type: object
                  properties:
                    result:
                      $ref: '#/components/schemas/OrderStatus'
                      example: &id002
                        order_id: '1728379719872'
                        time_in_force: good_till_cancelled
                        instrument_name: BTC-PERPETUAL
                        price: 45000
                        amount: 1.1
                        order_type: limit
                        direction: buy
                        filled_amount: 0
                        remaining_amount: 1.1
                        status: open
                        fills: []
                        change_reason: insert
                        insert_reason: client_request
                  example:
                    result: *id002
                - title: Error
                  $ref: '#/components/schemas/ErrorResponse'
  /private/sell:
    post:
      operationId: rest_private/sell
      tags:
      - Trading
      summary: Insert sell order
      description: 'Exchange: `https://thalex.com/api/v2/private/sell`


        Testnet: `https://testnet.thalex.com/api/v2/private/sell`


        Insert sell order'
[...]
