{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://thalex.com/api/v2",
      "description": "Exchange"
    },
    {
      "url": "https://testnet.thalex.com/api/v2",
      "description": "Testnet"
    }
  ],
  "info": {
    "description": {
      "$ref": "info.md"
    },
    "title": "Thalex API Description",
    "x-logo": {
      "url": "logo.png",
      "altText": "Thalex logo"
    }
  },
  "tags": [
    {
      "name": "rest_trading",
      "x-displayName": "Trading"
    },
    {
      "name": "rest_conditional",
      "x-displayName": "Conditional orders"
    },
    {
      "name": "rest_bot",
      "x-displayName": "Bot management"
    },
    {
      "name": "rest_rfq",
      "x-displayName": "Request for Quote"
    },
    {
      "name": "rest_rfq_mm",
      "x-displayName": "Request for Quote (MM)"
    },
    {
      "name": "rest_accounting",
      "x-displayName": "Accounting"
    },
    {
      "name": "rest_notifications",
      "x-displayName": "Notifications"
    },
    {
      "name": "rest_market_data",
      "x-displayName": "Market data"
    },
    {
      "name": "rest_wallet",
      "x-displayName": "Wallet"
    },
    {
      "name": "rest_system",
      "x-displayName": "System info"
    },
    {
      "name": "rest_historical_data",
      "x-displayName": "Historical data"
    },
    {
      "name": "rpc_session_management",
      "x-displayName": "Session management"
    },
    {
      "name": "rpc_trading",
      "x-displayName": "Trading"
    },
    {
      "name": "rpc_conditional",
      "x-displayName": "Conditional orders"
    },
    {
      "name": "rpc_bot",
      "x-displayName": "Bot management"
    },
    {
      "name": "rpc_rfq",
      "x-displayName": "Request for Quote"
    },
    {
      "name": "rpc_rfq_mm",
      "x-displayName": "Request for Quote (MM)"
    },
    {
      "name": "rpc_mm",
      "x-displayName": "Market making"
    },
    {
      "name": "rpc_accounting",
      "x-displayName": "Accounting"
    },
    {
      "name": "rpc_notifications",
      "x-displayName": "Notifications"
    },
    {
      "name": "rpc_market_data",
      "x-displayName": "Market data"
    },
    {
      "name": "rpc_subs",
      "x-displayName": "Subscriptions"
    },
    {
      "name": "rpc_wallet",
      "x-displayName": "Wallet"
    },
    {
      "name": "rpc_system",
      "x-displayName": "System info"
    },
    {
      "name": "rpc_historical_data",
      "x-displayName": "Historical data"
    },
    {
      "name": "subs_mm_prot",
      "x-displayName": "Market maker protection",
      "description": "## Session MM protection\n\nChannel name: `session.mm_protection`\n\nSubscribes to updates in the status of market maker protection groups.\n\n\n\n\nNotification payload:\n<SchemaDefinition schemaRef=\"#/components/schemas/session.mm_protection_payload\" />\n\n"
    },
    {
      "name": "subs_mm_rfq",
      "x-displayName": "Request for Quote (MM)",
      "description": "## Quote requests\n\nChannel name: `mm.rfqs`\n\nSubscribes to all RFQs created, for which this account is an eligible counterparty. When subscribing, a\nsnapshot will be sent with all currently open eligible RFQs.\n\n\n\n\nNotification payload:\n<SchemaDefinition schemaRef=\"#/components/schemas/mm.rfqs_payload\" />\n\n## Open RFQ quotes\n\nChannel name: `mm.rfq_quotes`\n\nSubscribes to RFQ quote events, including all quotes on all RFQs created by this account. When subscribing,\na snapshot will be sent with all currently active quotes.\n\n\n\n\nNotification payload:\n<SchemaDefinition schemaRef=\"#/components/schemas/mm.rfq_quotes_payload\" />\n\n"
    },
    {
      "name": "subs_accounting",
      "x-displayName": "Accounting",
      "description": "## Account orders\n\nChannel name: `account.orders`\n\nSubscribes to all active order changes. Notification value is a list of order\nstatus updates. Upon subscription, all current open orders are sent immediately,\nwith status \"existing\".\n\n\n\n\nNotification payload:\n<SchemaDefinition schemaRef=\"#/components/schemas/account.orders_payload\" />\n\n## Account orders, persistent only\n\nChannel name: `account.persistent_orders`\n\nSubscribes to all active order changes on persistent (non-market-maker) orders only.\nNotification value is a list of order\nstatus updates. Upon subscription, all current open orders are sent immediately,\nwith status \"existing\".\n\n\n\n\nNotification payload:\n<SchemaDefinition schemaRef=\"#/components/schemas/account.persistent_orders_payload\" />\n\n## Session orders\n\nChannel name: `session.orders`\n\nSubscribes to all active order changes, but only for orders that were inserted\nin the current WebSocket session.\nNotification value is a list of order\nstatus updates. Upon subscription, all current open orders are sent immediately,\nwith status \"existing\".\n\n\n\n\nNotification payload:\n<SchemaDefinition schemaRef=\"#/components/schemas/session.orders_payload\" />\n\n## Account trade history\n\nChannel name: `account.trade_history`\n\nSubscribes to trade history. Note that this feed is sent only after trades have\nbeen fully processed in the central database. For low-latency execution\nnotifications, check the `fills` field in `account.orders`.\n\n\n\n\nNotification payload:\n<SchemaDefinition schemaRef=\"#/components/schemas/account.trade_history_payload\" />\n\n## Account order history\n\nChannel name: `account.order_history`\n\nThis subscription notifies when inactive orders are recorded in the central\ndatabase (i.e. when they would show up in the `order_history` API call).\nUnfilled market maker orders are excluded.\n\n\n\n\nNotification payload:\n<SchemaDefinition schemaRef=\"#/components/schemas/account.order_history_payload\" />\n\n## Account portfolio\n\nChannel name: `account.portfolio`\n\nSubscribes to the total position for the account.\n\nUpon subscription, the full portfolio is sent, but afterwards only updated lines\nare transmitted (keyed by `instrument_name`). Lines are retransmitted if the position changes, or if the mark\nprice deviates by more than 1%.\n\n\n\n\nNotification payload:\n<SchemaDefinition schemaRef=\"#/components/schemas/account.portfolio_payload\" />\n\n## Account summary\n\nChannel name: `account.summary`\n\nPeriodic updates with current account summary.\n\n\n\n\nNotification payload:\n<SchemaDefinition schemaRef=\"#/components/schemas/account.summary_payload\" />\n\n## Account RFQs\n\nChannel name: `account.rfqs`\n\nSubscribes to RFQ events, for RFQs created by this account. When subscribing, a snapshot will be sent\nwith all currently open requests.\n\n\n\n\nNotification payload:\n<SchemaDefinition schemaRef=\"#/components/schemas/account.rfqs_payload\" />\n\n## Account RFQ history\n\nChannel name: `account.rfq_history`\n\nSubscribes to RFQ history, for RFQS created by this account. Note that this feed is sent only after\nRFQs have been fully processed in the central database, and will therefore be slightly behind\n`account.rfqs`.\n\n\n\n\nNotification payload:\n<SchemaDefinition schemaRef=\"#/components/schemas/account.rfq_history_payload\" />\n\n"
    },
    {
      "name": "subs_notifications",
      "x-displayName": "Notifications",
      "description": "## User inbox notifications\n\nChannel name: `user.inbox_notifications`\n\nThis subscription notifies when new notifications are posted or\nexisting notifications are updated (e.g. marked as read) for this user.\n\nThe feed includes only the notifications for which `inbox` preference is set.\n\nNote: this feed only delivers updates that happen after the time of\nsubscription. To get a historical list of notifications use\n`private/notifications_inbox` call.\n\n\n\n\nNotification payload:\n<SchemaDefinition schemaRef=\"#/components/schemas/user.inbox_notifications_payload\" />\n\n"
    },
    {
      "name": "subs_conditional",
      "x-displayName": "Conditional orders",
      "description": "## Account conditional orders\n\nChannel name: `account.conditional_orders`\n\nSubscribes to changes in the list of conditional orders. The feed contains a full set of orders every time, including\npast orders; it is identical to the output of the `private/conditional_orders` RPC call. No update is sent upon removal\nof old inactive orders.\n\n\n\n\nNotification payload:\n<SchemaDefinition schemaRef=\"#/components/schemas/account.conditional_orders_payload\" />\n\n"
    },
    {
      "name": "subs_bot",
      "x-displayName": "Bots",
      "description": "## Account bots\n\nChannel name: `account.bots`\n\nSubscribes to changes in the bots that the subaccount is running.\nThe feed contains a full set of bots every time, including stopped bots.\n\n\n\n\nNotification payload:\n<SchemaDefinition schemaRef=\"#/components/schemas/account.bots_payload\" />\n\n"
    },
    {
      "name": "subs_market_data",
      "x-displayName": "Market data",
      "description": "## Order book\n\nChannel name: `book.<instrument>.<grouping>.<nlevels>.<delay>`\n\nSubscribes to aggregated book updates and trade ticks on a single instrument or a combination.\n\nCombination order books _do not_ represent combination orders inserted by customers. Instead, each level in the virtual combination order book represents a possible proportional fill at a specific price for the whole combination that can be matched against orders in the outright books that correspond to the combination legs. Combination order books are updated in real time when outright order books they depend on change.\n\n\nChannel name parameters:\n\n- `instrument` - For single instrument order books this is the instrument name, e.g. \"BTC-PERPETUAL\".\n\nFor combinations, this is a string that specifies combination legs in the following format: `[<instrument_name>:<quantity>,<instrument_name>:<quantity>,...]`.\n\nFor example, \"[BTC-30MAY25-93000-C:-1,BTC-30MAY25-80000-C:1]\".\n\nYou can only subscribe to the books of combinations that are allowed for combination orders.\n\nThere must be at least two and at most four legs specified. All leg instruments must be distinct. Other constraints apply, please check trading information page on combination orders.\n\n- `grouping` - To group book levels by price, pass a USD value aligned to instrument or combination price tick size. Pass `none` for no grouping.\n- `nlevels` - Number of levels you want to see, or `all`.\n- `delay` - Minimum interval between feeds, possible value is one of `100ms`, `200ms`, `500ms`, `1000ms`, `5000ms`, `60000ms` or `raw`.\n\n\nNotification payload:\n<SchemaDefinition schemaRef=\"#/components/schemas/book.<instrument>.<grouping>.<nlevels>.<delay>_payload\" />\n\n## Ticker\n\nChannel name: `ticker.<instrument>.<delay>`\n\nSubscribes to a ticker feed for a single instrument or a combination.\n\nMark price of a combination is the quantity-weighted sum of mark prices of the leg instruments.\n\nBest bid and best ask for combinations represent top levels of a corresponding virtual combination order book. Combination order books _do not_ represent combination orders inserted by customers. Instead, each level in the virtual combination order book represents a possible proportional fill at a specific price for the whole combination that can be matched against orders in the outright books that correspond to the combination legs. Combination order books are updated in real time when outright order books they depend on change.\n\n\nChannel name parameters:\n\n- `instrument` - For single instrument tickers this is the instrument name, e.g. \"BTC-PERPETUAL\".\n\nFor combinations, this is a string that specifies combination legs in the following format: `[<instrument_name>:<quantity>,<instrument_name>:<quantity>,...]`.\n\nFor example, \"[BTC-30MAY25-93000-C:-1,BTC-30MAY25-80000-C:1]\".\n\nYou can only subscribe to combinations that are allowed for combination orders.\n\nThere must be at least two and at most four legs specified. All leg instruments must be distinct. Other constraints apply, please check trading information page on combination orders.\n\n- `delay` - Minimum interval between feeds, possible value is one of `100ms`, `200ms`, `500ms`, `1000ms`, `5000ms`, `60000ms` or `raw`.\n\n\nNotification payload:\n<SchemaDefinition schemaRef=\"#/components/schemas/ticker.<instrument>.<delay>_payload\" />\n\n## Ticker (lightweight payload)\n\nChannel name: `lwt.<instrument>.<delay>`\n\nSimilar to `ticker.<instrument>.<delay>`, but subscribes to a lightweight ticker consisting only of best bid and ask, mark price, volatility and last trade price. Other pricing elements can be derived from the base price feed.\n\n\nChannel name parameters:\n\n- `instrument` - For single instrument tickers this is the instrument name, e.g. \"BTC-PERPETUAL\".\n\nFor combinations, this is a string that specifies combination legs in the following format: `[<instrument_name>:<quantity>,<instrument_name>:<quantity>,...]`.\n\nFor example, \"[BTC-30MAY25-93000-C:-1,BTC-30MAY25-80000-C:1]\".\n\nYou can only subscribe to combinations that are allowed for combination orders.\n\nThere must be at least two and at most four legs specified. All leg instruments must be distinct. Other constraints apply, please check trading information page on combination orders.\n\n- `delay` - Minimum interval between feeds, possible value is one of `100ms`, `200ms`, `500ms`, `1000ms`, `5000ms`, `60000ms` or `raw`.\n\n\nNotification payload:\n<SchemaDefinition schemaRef=\"#/components/schemas/lwt.<instrument>.<delay>_payload\" />\n\n## Recent trades\n\nChannel name: `recent_trades.<target>.<category>`\n\nSubscribes to notifications about recent trades of a specific category. The first notification after subscription contains a\nsnapshot of a certain number of last known trades. Subsequent notifications contain new trades. Note that this subscription\nhas a slight delay compared to order book subscriptions (`book.*`), but the snapshot functionality is more reliable.\n\n\nChannel name parameters:\n\n- `target` - Either underlying (e.g. `BTCUSD`), or instrument name (e.g. `BTC-PERPETUAL`).\n- `category` - Category that serves as a filter for which instruments' trades to include in the feed. Can be one of the following values:\n  - `single`: single instrument. Only valid for instrument recent trades. I.e. `recent_trades.BTC-11MAY22-32400-C.single` is valid but `recent_trade.BTCUSD.single` is not valid.\n  - `all`: all instruments in underlying. Only valid for underlying recent trades. I.e. `recent_trades.BTCUSD.all` is valid but `recent_trade.BTC-11MAY22-32400-C.all` is not valid.\n  - `options`: all options in underlying. Only valid for underlying recent trades. I.e. `recent_trades.BTCUSD.options` is valid but `recent_trade.BTC-11MAY22-32400-C.options` is not valid.\n  - `future_rolls`: all combination instruments in underlying that represent rolls between two futures or a future and a perpetual. Only valid for underlying recent trades. I.e. `recent_trades.BTCUSD.future_rolls` is valid but `recent_trade.BTC-11MAY22-32400-C.future_rolls` is not valid.\n\n\n\nNotification payload:\n<SchemaDefinition schemaRef=\"#/components/schemas/recent_trades.<target>.<category>_payload\" />\n\n## Index price\n\nChannel name: `price_index.<underlying>`\n\nSubscribes to index price stamps.\n\n\nChannel name parameters:\n\n- `underlying` - Underlying is e.g. `BTCUSD`.\n\n\nNotification payload:\n<SchemaDefinition schemaRef=\"#/components/schemas/price_index.<underlying>_payload\" />\n\n## Underlying statistics\n\nChannel name: `underlying_statistics.<underlying>`\n\nSubscribes to statistics of a single underlying.\n\n\nChannel name parameters:\n\n- `underlying` - Underlying is e.g. `BTCUSD`.\n\n\nNotification payload:\n<SchemaDefinition schemaRef=\"#/components/schemas/underlying_statistics.<underlying>_payload\" />\n\n## Forward price\n\nChannel name: `base_price.<underlying>.<expiration>`\n\nSubscribes to per-expiration forward prices. If a future exists with this\nexpiration date, the price equals the future's mark price. Otherwise, if one\nor more options exist with this expiration date, the price will be the\ninterpolated forward price as used in our marking process. If no instrument with\nthis expiration exists, the subscription will fail.\n\n\nChannel name parameters:\n\n- `underlying` - Underlying is e.g. `BTCUSD`.\n- `expiration` - Expiration date in `YYYY-MM-DD` format.\n\n\nNotification payload:\n<SchemaDefinition schemaRef=\"#/components/schemas/base_price.<underlying>.<expiration>_payload\" />\n\n## Instruments\n\nChannel name: `instruments`\n\nSubscribes to changes in active instruments.\n\nNew instruments may be added when others expire, or intraday when the index\nprice changes significantly. Instruments are removed when they expire.\n\nThis subscription immediately responds with a notification for all currently\nactive instruments.\n\n\n\n\nNotification payload:\n<SchemaDefinition schemaRef=\"#/components/schemas/instruments_payload\" />\n\n## Traded RFQs\n\nChannel name: `rfqs`\n\nSubscribed to traded RFQs. When subscribing, a snapshot will be sent containing recently traded RFQs.\n\n\n\n\nNotification payload:\n<SchemaDefinition schemaRef=\"#/components/schemas/rfqs_payload\" />\n\n## Index components\n\nChannel name: `index_components.<underlying>`\n\nSubscribes to the index price components channel.\n\n\nChannel name parameters:\n\n- `underlying` - Underlying is e.g. `BTCUSD`.\n\n\nNotification payload:\n<SchemaDefinition schemaRef=\"#/components/schemas/index_components.<underlying>_payload\" />\n\n"
    },
    {
      "name": "subs_system",
      "x-displayName": "System info",
      "description": "## System events\n\nChannel name: `system`\n\nSubscribes to system and connection related events.\n\n\n\n\nNotification payload:\n<SchemaDefinition schemaRef=\"#/components/schemas/system_payload\" />\n\n## Banners\n\nChannel name: `banners`\n\nSubscribes to changes in currently shown banners. Each notification contains full list of banners.\n\nBanners are 'sticky' notifications visible to all users of the exchange. They are used\ne.g. for maintenance announcements etc.\n\n\n\n\nNotification payload:\n<SchemaDefinition schemaRef=\"#/components/schemas/banners_payload\" />\n\n"
    },
    {
      "name": "bot_strategies",
      "x-displayName": "Bot strategies",
      "description": {
        "$ref": "bots.md"
      }
    },
    {
      "name": "changelog",
      "x-displayName": "API change log",
      "description": {
        "$ref": "changes.md"
      }
    }
  ],
  "x-tagGroups": [
    {
      "name": "HTTP API",
      "tags": [
        "rest_market_data",
        "rest_trading",
        "rest_rfq",
        "rest_rfq_mm",
        "rest_accounting",
        "rest_conditional",
        "rest_bot",
        "rest_notifications",
        "rest_wallet",
        "rest_system",
        "rest_historical_data"
      ]
    },
    {
      "name": "WebSocket API",
      "tags": [
        "rpc_session_management",
        "rpc_market_data",
        "rpc_trading",
        "rpc_rfq",
        "rpc_rfq_mm",
        "rpc_accounting",
        "rpc_subs",
        "rpc_conditional",
        "rpc_bot",
        "rpc_notifications",
        "rpc_mm",
        "rpc_wallet",
        "rpc_system",
        "rpc_historical_data"
      ]
    },
    {
      "name": "Public subscriptions",
      "tags": [
        "subs_market_data",
        "subs_system"
      ]
    },
    {
      "name": "Private subscriptions",
      "tags": [
        "subs_accounting",
        "subs_conditional",
        "subs_bot",
        "subs_notifications",
        "subs_mm_prot",
        "subs_mm_rfq"
      ]
    },
    {
      "name": "Bot Strategies",
      "tags": [
        "bot_strategies"
      ]
    },
    {
      "name": "Change log",
      "tags": [
        "changelog"
      ]
    }
  ],
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "description": "Error code and message.",
            "properties": {
              "code": {
                "type": "integer"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      },
      "RpcRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "object",
            "description": "Your request id, optional."
          }
        },
        "example": {}
      },
      "RpcResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "object",
            "description": "Your request id, or null if not supplied."
          }
        }
      },
      "RpcErrorResponse": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/RpcResponse"
          },
          {
            "$ref": "#/components/schemas/ErrorResponse"
          }
        ]
      },
      "Null": {
        "type": "null",
        "description": "Represents a null value.",
        "example": null
      },
      "EmptyObject": {
        "type": "object",
        "description": "Empty object."
      },
      "OrderStatus": {
        "type": "object",
        "description": "Order status.",
        "required": [
          "order_id",
          "direction",
          "amount",
          "filled_amount",
          "remaining_amount",
          "status",
          "fills",
          "change_reason",
          "insert_reason",
          "create_time",
          "order_type",
          "time_in_force",
          "persistent"
        ],
        "properties": {
          "order_id": {
            "type": "string",
            "description": "System order ID, use to identify in amend/cancel, and to match trades."
          },
          "order_type": {
            "type": "string",
            "enum": [
              "limit",
              "market"
            ]
          },
          "time_in_force": {
            "type": "string",
            "enum": [
              "good_till_cancelled",
              "immediate_or_cancel"
            ]
          },
          "instrument_name": {
            "type": "string",
            "description": "Order instrument name.\n\nNot present for combination orders. Refer to `legs` field instead.\n"
          },
          "legs": {
            "type": "array",
            "description": "List of legs for this combination order.\n\nNot present for single-leg orders. Refer to `instrument_name` field instead.\n",
            "items": {
              "type": "object",
              "required": [
                "instrument_name",
                "quantity",
                "filled_amount",
                "remaining_amount"
              ],
              "properties": {
                "instrument_name": {
                  "type": "string",
                  "description": "Leg instrument name.\n"
                },
                "quantity": {
                  "type": "number",
                  "description": "Quantity of this leg in a unit of the combination. A non-zero integer, negative for short legs.\n"
                },
                "filled_amount": {
                  "type": "number",
                  "description": "Amount executed on this leg.\n\nLegs are filled proportionally to their quantities.\n"
                },
                "remaining_amount": {
                  "type": "number",
                  "description": "Amount on this leg that remains in the book; if 0, order is now inactive.\n\nNote that the only `time_in_force` for combination orders currently supported is\n`immediate_or_cancel`. Therefore, combination orders will never remain on a book,\nand this field will always be zero.\n"
                }
              }
            }
          },
          "direction": {
            "type": "string",
            "enum": [
              "buy",
              "sell"
            ]
          },
          "price": {
            "type": "number",
            "description": "Limit price. May be omitted if no price was supplied (e.g. for a market order).\n\nFor combination orders this specifies limit price per unit of the combination.\n"
          },
          "amount": {
            "type": "number",
            "description": "Order size (as inserted or amended to).\n\nFor combination orders this specifies the amount of units of the combination to trade.\n"
          },
          "filled_amount": {
            "type": "number",
            "description": "Part of the order that has been executed.\n\nFor combination orders this specifies the amount of units of the combination filled.\nLegs are filled proportionally to their quantities.\n"
          },
          "remaining_amount": {
            "type": "number",
            "description": "Part of the order that remains in the book; if 0, order is now inactive.\n\nFor combination orders this specifies the amount of units of the combination remaining on a book.\nNote that the only `time_in_force` for combination orders currently supported is\n`immediate_or_cancel`. Therefore, combination orders will never remain on a book,\nand this field will always be zero.\n"
          },
          "label": {
            "type": "string",
            "description": "Label supplied with insert. Can also be a number. Field is omitted if no label was supplied."
          },
          "client_order_id": {
            "type": "number",
            "description": "Client-supplied order id. Field is omitted if no client order id was supplied."
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "partially_filled",
              "cancelled",
              "cancelled_partially_filled",
              "filled"
            ]
          },
          "fills": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderFill"
            },
            "description": "These are new fills related to this order status update, except if `change_reason` is\n`existing`, then the list will contain all known fills.\n"
          },
          "change_reason": {
            "type": "string",
            "enum": [
              "existing",
              "insert",
              "amend",
              "cancel",
              "fill"
            ]
          },
          "delete_reason": {
            "type": "string",
            "enum": [
              "client_cancel",
              "client_bulk_cancel",
              "session_end",
              "instrument_deactivated",
              "mm_protection",
              "failover",
              "margin_breach",
              "filled",
              "immediate_cancel",
              "admin_cancel",
              "replaced",
              "self_trade_prevention"
            ],
            "description": "Detailed reason of order deletion if the order was deleted, omitted otherwise.\n\nThe following reasons are possible:\n\n- `client_cancel`: Order was cancelled by the client, e.g. with a call to `private/cancel`.\n\n- `client_bulk_cancel`: Order was cancelled by the client with a bulk cancel call, e.g. `private/cancel_all`.\n\n- `session_end`: Non-persistent order was automatically cancelled when a WebSocket session ended.\n\n- `instrument_deactivated`: Order was automatically cancelled when the order instrument was deactivated,\n  for example after expiration.\n\n- `mm_protection`: Order was automatically cancelled when configured market maker protection amount was exhausted.\n\n- `failover`: Non-persistent order was automatically cancelled on matching engine failover.\n\n- `margin_breach`: Order was automatically cancelled in a response to a margin breach on the account as part\n  of automatic liquidation procedures.\n\n- `filled`: Order was filled in full.\n\n- `immediate_cancel`: The order was submitted as \"immediate-or-cancel\" and was not filled in full immediately.\n  Note that the order might be partially filled when this delete reason is set.\n\n- `admin_cancel`: The order was cancelled by an exchange admin.\n"
          },
          "insert_reason": {
            "type": "string",
            "enum": [
              "client_request",
              "conditional_order",
              "bot",
              "liquidation"
            ],
            "description": "Detailed reason of order insertion."
          },
          "conditional_order_id": {
            "type": "string",
            "description": "If the order was triggered by a conditional order (stop order), the ID of that conditional order.\nOtherwise omitted.\n"
          },
          "bot_id": {
            "type": "string",
            "description": "If the order was inserted by a bot, the ID of that bot.\nOtherwise omitted.\n"
          },
          "create_time": {
            "type": "number",
            "description": "Creation time (Unix timestamp)."
          },
          "close_time": {
            "type": "number",
            "description": "Time when this order was closed or canceled (Unix timestamp). Omitted for orders that are still open."
          },
          "reduce_only": {
            "type": "boolean",
            "description": "True if the order is a reduce only order, omitted otherwise."
          },
          "persistent": {
            "type": "boolean",
            "description": "True if the order is a persistent order, false otherwise."
          }
        },
        "example": {
          "order_id": "1728379719872",
          "time_in_force": "good_till_cancelled",
          "instrument_name": "BTC-PERPETUAL",
          "price": 45000,
          "amount": 1.1,
          "order_type": "limit",
          "direction": "buy",
          "filled_amount": 0,
          "remaining_amount": 1.1,
          "status": "open",
          "fills": [],
          "change_reason": "insert",
          "insert_reason": "client_request"
        }
      },
      "OrderHistory": {
        "type": "object",
        "description": "Historical order.",
        "required": [
          "order_id",
          "direction",
          "amount",
          "filled_amount",
          "status",
          "fills",
          "insert_reason",
          "delete_reason",
          "create_time",
          "close_time",
          "order_type"
        ],
        "properties": {
          "order_id": {
            "type": "string",
            "description": "System order ID, use to identify in amend/cancel, and to match trades."
          },
          "order_type": {
            "type": "string",
            "enum": [
              "limit",
              "market"
            ]
          },
          "instrument_name": {
            "type": "string",
            "description": "Order instrument name.\n\nNot present for combination orders. Refer to `legs` field instead.\n"
          },
          "legs": {
            "type": "array",
            "description": "List of legs for this combination order.\n\nNot present for single-leg orders. Refer to `instrument_name` field instead.\n",
            "items": {
              "type": "object",
              "required": [
                "instrument_name",
                "quantity",
                "filled_amount"
              ],
              "properties": {
                "instrument_name": {
                  "type": "string",
                  "description": "Leg instrument name.\n"
                },
                "quantity": {
                  "type": "number",
                  "description": "Quantity of this leg in a unit of the combination. A non-zero integer, negative for short legs.\n"
                },
                "filled_amount": {
                  "type": "number",
                  "description": "Amount executed on this leg.\n\nLegs are filled proportionally to their quantities.\n"
                }
              }
            }
          },
          "direction": {
            "type": "string",
            "enum": [
              "buy",
              "sell"
            ]
          },
          "price": {
            "type": "number",
            "description": "Limit price. May be omitted if no price was supplied (e.g. for a market order).\n\nFor combination orders this specifies limit price per unit of the combination.\n"
          },
          "amount": {
            "type": "number",
            "description": "Order size (as inserted or amended to).\n\nFor combination orders this specifies the amount of units of the combination to trade.\n"
          },
          "filled_amount": {
            "type": "number",
            "description": "Part of the order that has been executed.\n\nFor combination orders this specifies the amount of units of the combination filled.\nLegs are filled proportionally to their quantities.\n"
          },
          "label": {
            "type": "string",
            "description": "Label supplied with insert. Can also be a number. Field is omitted if no label was supplied."
          },
          "client_order_id": {
            "type": "number",
            "description": "Client-supplied order id. Field is omitted if no client order id was supplied."
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "partially_filled",
              "cancelled",
              "cancelled_partially_filled",
              "filled"
            ]
          },
          "fills": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderFill"
            },
            "description": "All fills for this order."
          },
          "delete_reason": {
            "type": "string",
            "enum": [
              "client_cancel",
              "client_bulk_cancel",
              "session_end",
              "instrument_deactivated",
              "mm_protection",
              "failover",
              "margin_breach",
              "filled",
              "immediate_cancel",
              "admin_cancel",
              "replaced",
              "self_trade_prevention"
            ],
            "description": "Detailed reason of order deletion if the order was deleted, omitted otherwise.\n\nThe following reasons are possible:\n\n- `client_cancel`: Order was cancelled by the client, e.g. with a call to `private/cancel`.\n\n- `client_bulk_cancel`: Order was cancelled by the client with a bulk cancel call, e.g. `private/cancel_all`.\n\n- `session_end`: Non-persistent order was automatically cancelled when a WebSocket session ended.\n\n- `instrument_deactivated`: Order was automatically cancelled when the order instrument was deactivated,\n  for example after expiration.\n\n- `mm_protection`: Order was automatically cancelled when configured market maker protection amount was exhausted.\n\n- `failover`: Non-persistent order was automatically cancelled on matching engine failover.\n\n- `margin_breach`: Order was automatically cancelled in a response to a margin breach on the account as part\n  of automatic liquidation procedures.\n\n- `filled`: Order was filled in full.\n\n- `immediate_cancel`: The order was submitted as \"immediate-or-cancel\" and was not filled in full immediately.\n  Note that the order might be partially filled when this delete reason is set.\n\n- `admin_cancel`: The order was cancelled by an exchange admin.\n\n- `self_trade_prevention`: The order was cancelled by the self trade prevention mechanism.\n"
          },
          "insert_reason": {
            "type": "string",
            "enum": [
              "client_request",
              "conditional_order",
              "bot",
              "liquidation"
            ],
            "description": "Detailed reason of order insertion."
          },
          "conditional_order_id": {
            "type": "string",
            "description": "If the order was triggered by a conditional order (stop order), the ID of that conditional order.\nOtherwise omitted.\n"
          },
          "bot_id": {
            "type": "string",
            "description": "If the order was inserted by a bot, the ID of that bot.\nOtherwise omitted.\n"
          },
          "create_time": {
            "type": "number",
            "description": "Creation time (Unix timestamp)."
          },
          "close_time": {
            "type": "number",
            "description": "Time when this order was closed or canceled (Unix timestamp)."
          },
          "reduce_only": {
            "type": "boolean",
            "description": "True if the order is a reduce only order, omitted otherwise."
          }
        },
        "example": {
          "order_id": "001BF14D00000003",
          "instrument_name": "BTC-16DEC23-46000-C",
          "direction": "sell",
          "price": "10.0,",
          "amount": "0.2,",
          "filled_amount": "0.2,",
          "status": "filled",
          "fills": [
            {
              "trade_id": "008000000000000017A0CACBF5A3BF38",
              "price": 10.0,
              "amount": 0.2,
              "time": 1702583649.3794017,
              "maker_taker": "taker"
            }
          ],
          "create_time": "1702583649.379417,",
          "close_time": "1702583649.379417,",
          "insert_reason": "client_request",
          "delete_reason": "filled",
          "order_type": "limit"
        }
      },
      "OrderFill": {
        "type": "object",
        "required": [
          "trade_id",
          "price",
          "amount",
          "maker_taker",
          "leg_index"
        ],
        "properties": {
          "trade_id": {
            "type": "string",
            "description": "Trade ID."
          },
          "price": {
            "type": "number",
            "description": "Fill price."
          },
          "amount": {
            "type": "number",
            "description": "Filled amount"
          },
          "time": {
            "type": "number"
          },
          "maker_taker": {
            "type": "string",
            "enum": [
              "maker",
              "taker"
            ],
            "description": "Maker (trade on book order) or taker (trade on new order), if applicable."
          },
          "leg_index": {
            "type": "number",
            "description": "Index of a leg on which the trade happened for combination orders. Zero for single-leg orders.\n\nFor combination orders the direction of the trade is defined by the direction of the order and\nthe sign of the leg quantity.\n"
          }
        }
      },
      "InsertRequest": {
        "type": "object",
        "required": [
          "amount"
        ],
        "properties": {
          "client_order_id": {
            "type": "integer",
            "description": "Session-local identifier for this order. Only valid for websocket sessions. If set,\nmust be an integer between 0 and 2^64-1, inclusive. When using numbers larger than 2^32,\nplease beware of implicit floating point conversions in some JSON libraries.\n"
          },
          "instrument_name": {
            "type": "string",
            "description": "Name of the instrument to trade.\n\nThis field must not be present when inserting a combination order. Use `legs` field instead.\n"
          },
          "legs": {
            "type": "array",
            "description": "List of legs for a combination order.\n\nThere must be at least two and at most four legs specified. All leg instruments must be distinct.\n\nOther constraints apply, please check trading information page on combination orders.\n\nThis field must not be present when inserting single-leg orders. Use `instrument_name` field instead.\n",
            "items": {
              "type": "object",
              "required": [
                "instrument_name",
                "quantity"
              ],
              "properties": {
                "instrument_name": {
                  "type": "string",
                  "description": "Name of the instrument to trade on this leg.\n"
                },
                "quantity": {
                  "type": "number",
                  "description": "Quantity of this leg in a unit of the combination. Must be integer. Must not be zero. Use a negative number for short legs.\n\nResult of multiplication of `quantity` and order `amount` must be aligned to tick size for every leg.\n"
                }
              }
            }
          },
          "price": {
            "type": "number",
            "description": "Limit price; required for limit orders.\n\nFor combination orders this specifies limit price per unit of the combination.\n"
          },
          "amount": {
            "type": "number",
            "description": "Amount of currency to trade (e.g. BTC for futures).\n\nFor combination orders this specifies the amount of units of the combination to trade.\n"
          },
          "label": {
            "type": "string"
          },
          "order_type": {
            "type": "string",
            "enum": [
              "limit",
              "market"
            ],
            "default": "limit"
          },
          "time_in_force": {
            "type": "string",
            "enum": [
              "good_till_cancelled",
              "immediate_or_cancel"
            ],
            "description": "Note that for limit orders, the default `time_in_force` is\n`good_till_cancelled`, while for market orders, the default is\n`immediate_or_cancel`. It is illegal to send a GTC market order, or an IOC post\norder.\n\nFor combination orders `time_in_force` must always be set to `immediate_or_cancel`.\n"
          },
          "post_only": {
            "type": "boolean",
            "description": "If the order price is in cross with the current best price on the opposite side in the\norder book, then the price is adjusted to one tick away from that price, ensuring that\nthe order will never trade on insert. If the adjusted price of a buy order falls at or\nbelow zero where not allowed, then the order is cancelled with delete reason 'immediate_cancel'.\n\nThis flag is not supported for combination orders.\n"
          },
          "reject_post_only": {
            "type": "boolean",
            "description": "This flag is only effective in combination with post_only. If set, then instead of adjusting\nthe order price, the order will be cancelled with delete reason 'immediate_cancel'. The\ncombination of post_only and reject_post_only is effectively a book-or-cancel order.\n\nThis flag is not supported for combination orders.\n"
          },
          "reduce_only": {
            "type": "boolean",
            "description": "An order marked `reduce_only` will have its amount reduced to the open position.\nIf there is no open position, or if the order direction would cause an increase\nof the open position, the order is rejected. If the order is placed in the book,\nit will be subsequently monitored, and reduced to the open position if the\nposition changes through other means (best effort). Multiple reduce-only orders\nwill all be reduced individually.\n\nThis flag is not supported for combination orders.\n"
          },
          "collar": {
            "type": "string",
            "enum": [
              "ignore",
              "reject",
              "clamp"
            ],
            "description": "If the instrument has a safety price collar set, and the limit price of the order\n(infinite for market orders) is in cross with (more aggressive than) this collar,\nhow to handle. If set to `ignore`, the order will proceed as requested. If `reject`,\nthe order fails early. If `clamp`, the price is adjusted to the collar.\n\nThe default is `clamp` for market orders and `reject` for everything else.\n\nCollar `ignore` is forbidden for market orders.\n\nPrice collars are applied to combination orders. Price collar for a combination is a linear combination of the leg collars with their corresponding quantities as coefficients.\n"
          },
          "stp_level": {
            "type": "string",
            "enum": [
              "customer",
              "account",
              "disabled"
            ],
            "description": "The self trade prevention level override for this order.\nNeeds configuration to be enabled, see the `Self trade prevention` section for more explanation.\n\nThe default is `customer` and not configurable.\n"
          },
          "stp_action": {
            "type": "string",
            "enum": [
              "cancel_aggressive_partial_fill",
              "cancel_aggressive_no_fill"
            ],
            "description": "The self trade prevention action override for this order.\nNeeds configuration to be enabled, see the `Self trade prevention` section for more explanation.\n\nThe default is `cancel_aggressive_partial_fill` and not configurable.\n"
          }
        },
        "example": {
          "instrument_name": "BTC-PERPETUAL",
          "price": 45000,
          "amount": 1.1,
          "order_type": "limit"
        }
      },
      "Notifications": {
        "type": "object",
        "properties": {
          "notifications": {
            "type": "array",
            "description": "List of notifications ordered from newest to oldest.",
            "items": {
              "type": "object",
              "required": [
                "id",
                "time",
                "category",
                "title",
                "message",
                "display_type",
                "read",
                "popup"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique notification ID."
                },
                "time": {
                  "type": "number",
                  "description": "Time of notification (Unix timestamp)."
                },
                "category": {
                  "type": "string",
                  "description": "Notification category (see API description / Notifications)."
                },
                "title": {
                  "type": "string",
                  "description": "Human-readable title for the notification."
                },
                "message": {
                  "type": "string",
                  "description": "Human-readable message for the notification."
                },
                "display_type": {
                  "type": "string",
                  "description": "Specifies what style to use for notification display.",
                  "enum": [
                    "success",
                    "failure",
                    "info",
                    "warning",
                    "critical"
                  ]
                },
                "read": {
                  "type": "boolean",
                  "description": "set to true if notification was marked as read."
                },
                "account_name": {
                  "type": "string",
                  "description": "Optional account name, only present if the notification is related to an account."
                },
                "account_number": {
                  "type": "string",
                  "description": "Optional account number only present if the notification is related to an account."
                },
                "popup": {
                  "type": "boolean",
                  "description": "User preference - show popup for this notification"
                }
              }
            }
          }
        },
        "example": {
          "notifications": [
            {
              "id": "00000000000000A3",
              "time": 1630069885.130461,
              "category": "risk",
              "title": "Margin Requirements",
              "message": "Portfolio of account foo-123 breached initial margin requirements.",
              "display_type": "warning",
              "read": false,
              "account_name": "foo-123",
              "account_number": "A123456789",
              "popup": true
            }
          ]
        }
      },
      "Instrument": {
        "type": "object",
        "properties": {
          "instrument_name": {
            "type": "string"
          },
          "product": {
            "type": "string",
            "description": "E.g. \"FBTCUSD\", \"OBTCUSD\"."
          },
          "tick_size": {
            "type": "number",
            "description": "Price alignment."
          },
          "volume_tick_size": {
            "type": "number",
            "description": "Amount alignment."
          },
          "min_order_amount": {
            "type": "number",
            "description": "Minimum order amount for this instrument. This value is always greater or equal to `volume_tick_size`.\n\nIf this value is greater than `volume_tick_size`, it is not possible to insert an order of a smaller amount,\nor amend an existing order to a smaller amount. However, orders in the books can have smaller remaining\namounts as they get partially filled, down to the minimum of `volume_tick_size`.\n"
          },
          "underlying": {
            "type": "string",
            "description": "Related index, e.g. \"BTCUSD\"."
          },
          "type": {
            "type": "string",
            "enum": [
              "perpetual",
              "future",
              "option",
              "combination"
            ]
          },
          "option_type": {
            "type": "string",
            "enum": [
              "call",
              "put"
            ]
          },
          "expiry_date": {
            "type": "string",
            "description": "Expiration date in ISO format (YYYY-mm-dd)."
          },
          "expiration_timestamp": {
            "type": "integer",
            "description": "Expiration time as Unix timestamp (seconds)."
          },
          "strike_price": {
            "type": "number",
            "description": "Strike price of option."
          },
          "base_currency": {
            "type": "string",
            "description": "Base currency for pricing (i.e. USD)."
          },
          "legs": {
            "type": "array",
            "description": "For combinations, array of objects with `instrument_name` and `quantity`.",
            "items": {
              "type": "object",
              "properties": {
                "instrument_name": {
                  "type": "string"
                },
                "quantity": {
                  "type": "integer"
                }
              }
            }
          },
          "create_time": {
            "type": "number",
            "description": "Creation time (Unix timestamp)."
          },
          "settlement_price": {
            "type": "number",
            "description": "For expired instruments, the final settlement price."
          },
          "settlement_index_price": {
            "type": "number",
            "description": "For expired instruments, the underlying delivery price."
          }
        },
        "example": {
          "instrument_name": "BTC-10SEP21-70000-C",
          "product": "OBTCUSD",
          "tick_size": 5,
          "volume_tick_size": 0.1,
          "min_order_amount": 0.1,
          "underlying": "BTCUSD",
          "type": "option",
          "option_type": "call",
          "expiry_date": "2021-09-10",
          "expiration_timestamp": 1631260800,
          "strike_price": 70000,
          "base_currency": "USD",
          "create_time": 1631250800.103645
        }
      },
      "PortfolioEntry": {
        "type": "object",
        "properties": {
          "instrument_name": {
            "type": "string",
            "description": "Instrument name."
          },
          "position": {
            "type": "number",
            "description": "Amount of this contract currently held; short positions are negative."
          },
          "mark_price": {
            "type": "number",
            "description": "Current mark price for the instrument."
          },
          "iv": {
            "type": "number",
            "description": "Implied volatility calculated at time of marking."
          },
          "index": {
            "type": "number",
            "description": "Index price at time of marking."
          },
          "start_price": {
            "type": "number",
            "description": "Average price paid to obtain position.\n\nNote: for instruments that are subject to daily futures-style settlement, the start price\nis reset to the mark price at the end of each session and all the unrealized P&L is thus realized.\nUse `private/daily_mark_history` API endpoint to get information about daily settlements.\n"
          },
          "average_price": {
            "type": "number",
            "description": "Average price paid to obtain position. Doesn't reset at settlement."
          },
          "unrealised_pnl": {
            "type": "number",
            "description": "Unrealised P&L in the current session for this position based on current mark price,\nequal to `(mark_price - start_price) * position`.\n\nNote: for instruments that are subject to daily futures-style settlement, the start price\nis reset to the mark price at the end of each session and all the unrealized P&L is thus realized.\nUse `private/daily_mark_history` API endpoint to get information about daily settlements.\n"
          },
          "realised_pnl": {
            "type": "number",
            "description": "Realized P&L in the current session.\n\nRealized P&L is settled into a settlement asset at the end of each session.\n"
          },
          "entry_value": {
            "type": "number",
            "description": "Total entry value, equal to `start_price * position`."
          },
          "perpetual_funding_entry_value": {
            "type": "number",
            "description": "Entry mark value for perpetual funding.\nUnrealised perpetual funding is (current perp funding mark * position) -\nperpetual funding entry value. Not\nincluded if zero.\n"
          },
          "unrealised_perpetual_funding": {
            "type": "number",
            "description": "For perpetual positions, current unrealized perpetual funding.\n\nThe funding is realized as P&L and settled into settlement asset at the end of each session.\n"
          }
        },
        "example": {
          "instrument_name": "BTC-PERPETUAL",
          "position": 1,
          "mark_price": 47299.741264339274,
          "start_price": 47260,
          "average_price": 47260,
          "unrealised_pnl": 39.75859976453942,
          "realised_pnl": 0,
          "entry_value": 47260,
          "perpetual_funding_entry_value": -0.13040705,
          "unrealised_perpetual_funding": 0.017335425264924917
        }
      },
      "ConditionalOrder": {
        "type": "object",
        "required": [
          "order_id",
          "instrument_name",
          "direction",
          "amount",
          "stop_price",
          "status",
          "create_time",
          "update_time",
          "reduce_only",
          "target"
        ],
        "properties": {
          "order_id": {
            "type": "string",
            "description": "Unique ID, use to identify in cancel"
          },
          "instrument_name": {
            "type": "string"
          },
          "direction": {
            "type": "string",
            "enum": [
              "buy",
              "sell"
            ]
          },
          "amount": {
            "type": "number",
            "description": "Size of the order when activated"
          },
          "target": {
            "type": "string",
            "enum": [
              "last",
              "mark",
              "index"
            ],
            "description": "The trigger type that `stop_price` and `bracket_price` will refer to."
          },
          "stop_price": {
            "type": "number",
            "description": "Trigger price at which the order will be activated"
          },
          "limit_price": {
            "type": "number",
            "description": "For stop limit order, the price at which the order will be placed"
          },
          "bracket_price": {
            "type": "number",
            "description": "For bracket order, the price at which profit will be taken (upper activation price)"
          },
          "trailing_stop_callback_rate": {
            "type": "number",
            "description": "For trailing stop loss, the callback rate as a ratio (e.g. 0.05 for 5%)"
          },
          "label": {
            "type": "string",
            "description": "Optional user label"
          },
          "status": {
            "type": "string",
            "enum": [
              "created",
              "active",
              "converted",
              "rejected",
              "cancel requested",
              "cancelled"
            ]
          },
          "create_time": {
            "type": "number"
          },
          "update_time": {
            "type": "number",
            "description": "Time of last update (conversion or change of trailing stop price)"
          },
          "convert_time": {
            "type": "number",
            "description": "Time of trigger"
          },
          "converted_order_id": {
            "type": "string",
            "description": "System order ID of the created order."
          },
          "reject_reason": {
            "type": "string",
            "description": "If conversion failed, the reason"
          },
          "reduce_only": {
            "type": "boolean"
          }
        },
        "example": {
          "order_id": "00011E570000004B",
          "instrument_name": "BTC-PERPETUAL",
          "direction": "buy",
          "amount": 1,
          "stop_price": 50000,
          "limit_price": 45000,
          "status": "created",
          "create_time": 1630062311.3324597,
          "update_time": 1630062311.3324597,
          "reduce_only": false,
          "target": "mark"
        }
      },
      "Bot": {
        "oneOf": [
          {
            "title": "SGSL",
            "type": "object",
            "required": [
              "strategy",
              "bot_id",
              "status",
              "instrument_name",
              "entry_price",
              "target_position",
              "exit_price",
              "exit_position",
              "end_time",
              "signal",
              "realized_pnl",
              "fee",
              "start_time"
            ],
            "properties": {
              "bot_id": {
                "type": "string",
                "description": "Individually identifies this bot instance. You can use it to cancel this specific one."
              },
              "status": {
                "type": "string",
                "enum": [
                  "active",
                  "stopped"
                ]
              },
              "stop_reason": {
                "type": "string",
                "enum": [
                  "client_cancel",
                  "client_bulk_cancel",
                  "end_time",
                  "instrument_deactivated",
                  "margin_breach",
                  "admin_cancel",
                  "conflict",
                  "strategy",
                  "self_trade_prevention"
                ],
                "description": "The reason why the bot stopped executing."
              },
              "strategy": {
                "type": "string",
                "description": "equal to \"sgsl\""
              },
              "instrument_name": {
                "type": "string",
                "description": "Name of the instrument."
              },
              "signal": {
                "type": "string",
                "enum": [
                  "last",
                  "index",
                  "mark"
                ]
              },
              "entry_price": {
                "type": "number",
                "description": "Price to compare `signal` price to, to determine necessary adjustments to the portfolio. See [the bot strategies section](#tag/bot_strategies) for more explanation."
              },
              "target_position": {
                "type": "number",
                "description": "The target position to maintain in the subaccount if `signal` price is above `entry_price`. See [the bot strategies section](#tag/bot_strategies) for more explanation."
              },
              "exit_price": {
                "type": "number",
                "description": "Price to compare `signal` price to, to determine necessary adjustments to the portfolio. See [the bot strategies section](#tag/bot_strategies) for more explanation."
              },
              "exit_position": {
                "type": "number",
                "description": "The target position to maintain in the subaccount if `signal` price is below `exit_price`. See [the bot strategies section](#tag/bot_strategies) for more explanation."
              },
              "max_slippage": {
                "type": "number",
                "description": "Maximum slippage per trade, expressed as % of the traded instruments mark price."
              },
              "end_time": {
                "type": "number",
                "description": "Timestamp when the bot stops executing, cancelling its orders and leaving all positions of the subaccount intact."
              },
              "start_time": {
                "type": "number",
                "description": "Timestamp indicating when the bot was created."
              },
              "stop_time": {
                "type": "number",
                "description": "Timestamp indicating when the bot stopped working due to specified `stop_reason`."
              },
              "label": {
                "type": "string",
                "description": "A label that the bot will add to all orders for easy identification."
              },
              "realized_pnl": {
                "type": "number",
                "description": "Realized P&L made by this bot since the start."
              },
              "fee": {
                "type": "number",
                "description": "Trade fees by this bot."
              },
              "average_price": {
                "type": "number",
                "description": "Average entry price of the position (if any)."
              },
              "position_size": {
                "type": "number",
                "description": "Position size (if any)."
              },
              "mark_price_at_stop": {
                "type": "number",
                "description": "Mark price of the bot instrument at the moment the bot was stopped."
              }
            }
          },
          {
            "title": "OCQ",
            "type": "object",
            "required": [
              "strategy",
              "instrument_name",
              "status",
              "bid_offset",
              "ask_offset",
              "signal",
              "quote_size",
              "min_position",
              "max_position",
              "end_time",
              "bot_id",
              "realized_pnl",
              "fee",
              "start_time"
            ],
            "properties": {
              "bot_id": {
                "type": "string",
                "description": "Individually identifies this bot instance. You can use it to cancel this specific one."
              },
              "status": {
                "type": "string",
                "enum": [
                  "active",
                  "stopped"
                ]
              },
              "stop_reason": {
                "type": "string",
                "enum": [
                  "client_cancel",
                  "client_bulk_cancel",
                  "end_time",
                  "instrument_deactivated",
                  "margin_breach",
                  "admin_cancel",
                  "conflict",
                  "strategy",
                  "self_trade_prevention"
                ],
                "description": "The reason why the bot stopped executing."
              },
              "strategy": {
                "type": "string",
                "description": "equal to \"ocq\""
              },
              "instrument_name": {
                "type": "string",
                "description": "Name of the instrument."
              },
              "signal": {
                "type": "string",
                "enum": [
                  "index",
                  "mark"
                ]
              },
              "bid_offset": {
                "type": "number",
                "description": "The offset of the price of the bid quote from the signal price. See [the bot strategies section](#tag/bot_strategies) for more explanation."
              },
              "ask_offset": {
                "type": "number",
                "description": "The offset of the price of the ask quote from the signal price. See [the bot strategies section](#tag/bot_strategies) for more explanation."
              },
              "quote_size": {
                "type": "number",
                "description": "The default size of both the bid and ask quote, See [the bot strategies section](#tag/bot_strategies) for more explanation."
              },
              "min_position": {
                "type": "number",
                "description": "The minimum portfolio position to maintain in the subaccount. See [the bot strategies section](#tag/bot_strategies) for more explanation."
              },
              "max_position": {
                "type": "number",
                "description": "The maximum portfolio position to maintain in the subaccount. See [the bot strategies section](#tag/bot_strategies) for more explanation."
              },
              "end_time": {
                "type": "number",
                "description": "Timestamp when the bot stops executing, cancelling its orders and leaving all positions of the subaccount intact."
              },
              "start_time": {
                "type": "number",
                "description": "Timestamp indicating when the bot was created."
              },
              "stop_time": {
                "type": "number",
                "description": "Timestamp indicating when the bot stopped working due to specified `stop_reason`."
              },
              "label": {
                "type": "string",
                "description": "A label that the bot will add to all orders for easy identification."
              },
              "realized_pnl": {
                "type": "number",
                "description": "Realized P&L made by this bot since the start."
              },
              "fee": {
                "type": "number",
                "description": "Trade fees by this bot."
              },
              "average_price": {
                "type": "number",
                "description": "Average entry price of the position (if any)."
              },
              "position_size": {
                "type": "number",
                "description": "Position size (if any)."
              },
              "mark_price_at_stop": {
                "type": "number",
                "description": "Mark price of the bot instrument at the moment the bot was stopped."
              }
            }
          },
          {
            "title": "Levels",
            "type": "object",
            "required": [
              "strategy",
              "instrument_name",
              "bids",
              "asks",
              "step_size",
              "base_position",
              "target_mean_price",
              "end_time",
              "bot_id",
              "status",
              "realized_pnl",
              "fee",
              "start_time"
            ],
            "properties": {
              "bot_id": {
                "type": "string",
                "description": "Individually identifies this bot instance. You can use it to cancel this specific one."
              },
              "status": {
                "type": "string",
                "enum": [
                  "active",
                  "stopped"
                ]
              },
              "stop_reason": {
                "type": "string",
                "enum": [
                  "client_cancel",
                  "client_bulk_cancel",
                  "end_time",
                  "instrument_deactivated",
                  "margin_breach",
                  "admin_cancel",
                  "conflict",
                  "strategy",
                  "self_trade_prevention"
                ],
                "description": "The reason why the bot stopped executing."
              },
              "strategy": {
                "type": "string",
                "description": "equal to \"levels\""
              },
              "instrument_name": {
                "type": "string",
                "description": "Name of the instrument the bot instance is trading."
              },
              "bids": {
                "type": "array",
                "description": "The default price levels the bot will be bidding at. See [the bot strategies section](#tag/bot_strategies) for more explanation.",
                "items": {
                  "type": "number"
                }
              },
              "asks": {
                "type": "array",
                "description": "The default price levels the bot will be quoting on the ask side. See [the bot strategies section](#tag/bot_strategies) for more explanation.",
                "items": {
                  "type": "number"
                }
              },
              "target_mean_price": {
                "type": "number",
                "description": "The price level to exit positions at."
              },
              "step_size": {
                "type": "number",
                "description": "The default size of to quote on one level. See [the bot strategies section](#tag/bot_strategies) for more explanation."
              },
              "base_position": {
                "type": "number",
                "description": "Will be used as a reference to compare the subaccount's portfolio position in the instrument that this bot is trading to. See [the bot strategies section](#tag/bot_strategies) for more explanation."
              },
              "upside_exit_price": {
                "type": "number",
                "description": "If the mark price of the instrument this bot is trading goes above `upside_exit_price`, the bot cancels the maker orders, aggressively trades into `base_position`, and then stops executing."
              },
              "downside_exit_price": {
                "type": "number",
                "description": "If the mark price of the instrument this bot is trading goes below `downside_exit_price`, the bot cancels the maker orders, aggressively trades into `base_position`, and then stops executing."
              },
              "max_slippage": {
                "type": "number",
                "description": "Maximum slippage per trade when exiting any position, expressed as % of the traded instruments mark price."
              },
              "end_time": {
                "type": "number",
                "description": "Timestamp when the bot stops executing, cancelling its orders and leaving all positions of the subaccount intact."
              },
              "start_time": {
                "type": "number",
                "description": "Timestamp indicating when the bot was created."
              },
              "stop_time": {
                "type": "number",
                "description": "Timestamp indicating when the bot stopped working due to specified `stop_reason`."
              },
              "label": {
                "type": "string",
                "description": "A label that the bot will add to all orders for easy identification."
              },
              "realized_pnl": {
                "type": "number",
                "description": "Realized P&L made by this bot since the start."
              },
              "fee": {
                "type": "number",
                "description": "Trade fees by this bot."
              },
              "average_price": {
                "type": "number",
                "description": "Average entry price of the position (if any)."
              },
              "position_size": {
                "type": "number",
                "description": "Position size (if any)."
              },
              "mark_price_at_stop": {
                "type": "number",
                "description": "Mark price of the bot instrument at the moment the bot was stopped."
              }
            }
          },
          {
            "title": "Grid",
            "type": "object",
            "required": [
              "strategy",
              "instrument_name",
              "grid",
              "step_size",
              "base_position",
              "target_mean_price",
              "end_time",
              "bot_id",
              "status",
              "realized_pnl",
              "fee",
              "start_time"
            ],
            "properties": {
              "bot_id": {
                "type": "string",
                "description": "Individually identifies this bot instance. You can use it to cancel this specific one."
              },
              "status": {
                "type": "string",
                "enum": [
                  "active",
                  "stopped"
                ]
              },
              "stop_reason": {
                "type": "string",
                "enum": [
                  "client_cancel",
                  "client_bulk_cancel",
                  "end_time",
                  "instrument_deactivated",
                  "margin_breach",
                  "admin_cancel",
                  "conflict",
                  "strategy",
                  "self_trade_prevention"
                ],
                "description": "The reason why the bot stopped executing."
              },
              "strategy": {
                "type": "string",
                "description": "Equal to \"grid\"."
              },
              "instrument_name": {
                "type": "string",
                "description": "Name of the instrument the bot instance is trading."
              },
              "grid": {
                "type": "array",
                "items": {
                  "type": "number"
                },
                "description": "The default price levels the bot will be quoting at. See [the bot strategies section](#tag/bot_strategies) for more explanation."
              },
              "target_mean_price": {
                "type": "number",
                "description": "As long as the account's portfolio position in the instrument that the bot is trading is equal to base_position, the bot will insert step_size asks on the grid above target_mean_price (one per level), and step_size bids below target_mean_price."
              },
              "step_size": {
                "type": "number",
                "description": "The default size to quote on one level. See [the bot strategies section](#tag/bot_strategies) for more explanation."
              },
              "base_position": {
                "type": "number",
                "description": "Will be used as a reference to compare the subaccount's portfolio position in the instrument that this bot is trading to. See [the bot strategies section](#tag/bot_strategies) for more explanation."
              },
              "upside_exit_price": {
                "type": "number",
                "description": "If the mark price of the instrument this bot is trading goes above `upside_exit_price`, the bot cancels the maker orders, aggressively trades into `base_position`, and then stops executing."
              },
              "downside_exit_price": {
                "type": "number",
                "description": "If the mark price of the instrument this bot is trading goes below `downside_exit_price`, the bot cancels the maker orders, aggressively trades into `base_position`, and then stops executing."
              },
              "max_slippage": {
                "type": "number",
                "description": "Maximum slippage per trade when exiting any position, expressed as % of the traded instruments mark price."
              },
              "end_time": {
                "type": "number",
                "description": "Timestamp when the bot stops executing, cancelling its orders and leaving all positions of the subaccount intact."
              },
              "start_time": {
                "type": "number",
                "description": "Timestamp indicating when the bot was created."
              },
              "stop_time": {
                "type": "number",
                "description": "Timestamp indicating when the bot stopped working due to specified `stop_reason`."
              },
              "label": {
                "type": "string",
                "description": "A label that the bot will add to all orders for easy identification."
              },
              "realized_pnl": {
                "type": "number",
                "description": "Realized P&L made by this bot since the start."
              },
              "fee": {
                "type": "number",
                "description": "Trade fees by this bot."
              },
              "average_price": {
                "type": "number",
                "description": "Average entry price of the position (if any)."
              },
              "position_size": {
                "type": "number",
                "description": "Position size (if any)."
              },
              "mark_price_at_stop": {
                "type": "number",
                "description": "Mark price of the bot instrument at the moment the bot was stopped."
              }
            }
          },
          {
            "title": "DHedge",
            "type": "object",
            "required": [
              "bot_id",
              "strategy",
              "status",
              "instrument_name",
              "period",
              "threshold",
              "target_delta",
              "realized_pnl",
              "fee",
              "start_time"
            ],
            "properties": {
              "bot_id": {
                "type": "string",
                "description": "Individually identifies this bot instance. You can use it to cancel this specific one."
              },
              "strategy": {
                "type": "string",
                "description": "Equal to \"dhedge\"."
              },
              "status": {
                "type": "string",
                "enum": [
                  "active",
                  "stopped"
                ]
              },
              "instrument_name": {
                "type": "string",
                "description": "Name of the instrument the bot will trade."
              },
              "position": {
                "type": "string",
                "description": "Name of an instrument. If specified, the bot will only hedge the position in this instrument, not the entire underlying."
              },
              "target_delta": {
                "type": "number",
                "description": "The delta that the bot is targeting."
              },
              "threshold": {
                "type": "number",
                "description": "Tolerance threshold."
              },
              "tolerance": {
                "type": "number",
                "description": "Maximum deviation allowed from target deltas at any time."
              },
              "period": {
                "type": "number",
                "description": "Number of seconds to let the deltas stay outside of `[target-threshold, target+threshold]`, before hedging them."
              },
              "max_slippage": {
                "type": "number",
                "description": "Maximum slippage per trade, expressed as % of the traded instruments mark price."
              },
              "end_time": {
                "type": "number",
                "description": "Timestamp when the bot should stop executing.\nIf not specified, the bot will run until it's manually stopped.\nWhen `end_time` is reached, the bot will leave all positions intact, it will not open/close any of them.\n"
              },
              "start_time": {
                "type": "number",
                "description": "Timestamp indicating when the bot was created."
              },
              "stop_time": {
                "type": "number",
                "description": "Timestamp indicating when the bot stopped working due to specified `stop_reason`."
              },
              "stop_reason": {
                "type": "string",
                "enum": [
                  "client_cancel",
                  "client_bulk_cancel",
                  "end_time",
                  "instrument_deactivated",
                  "margin_breach",
                  "admin_cancel",
                  "conflict",
                  "strategy",
                  "self_trade_prevention"
                ],
                "description": "The reason why the bot stopped executing."
              },
              "label": {
                "type": "string",
                "description": "A label that the bot will add to all orders for easy identification."
              },
              "realized_pnl": {
                "type": "number",
                "description": "Realized P&L made by this bot since the start."
              },
              "fee": {
                "type": "number",
                "description": "Trade fees by this bot."
              },
              "average_price": {
                "type": "number",
                "description": "Average entry price of the position (if any)."
              },
              "position_size": {
                "type": "number",
                "description": "Position size (if any)."
              },
              "mark_price_at_stop": {
                "type": "number",
                "description": "Mark price of the bot instrument at the moment the bot was stopped."
              }
            }
          },
          {
            "title": "DFollow",
            "type": "object",
            "required": [
              "bot_id",
              "strategy",
              "status",
              "instrument_name",
              "target_instrument",
              "target_amount",
              "threshold",
              "end_time",
              "period",
              "realized_pnl",
              "fee",
              "start_time"
            ],
            "properties": {
              "bot_id": {
                "type": "string",
                "description": "Individually identifies this bot instance. You can use it to cancel this specific one."
              },
              "strategy": {
                "type": "string",
                "description": "Equal to \"dfollow\"."
              },
              "status": {
                "type": "string",
                "enum": [
                  "active",
                  "stopped"
                ]
              },
              "instrument_name": {
                "type": "string",
                "description": "Name of the instrument to trade, in order to follow the deltas of the target."
              },
              "target_instrument": {
                "type": "string",
                "description": "Name of the option to follow the deltas of."
              },
              "target_amount": {
                "type": "number",
                "description": "Amount of `target_instrument` contracts to follow the deltas of."
              },
              "threshold": {
                "type": "number",
                "description": "Tolerance threshold."
              },
              "tolerance": {
                "type": "number",
                "description": "Maximum deviation allowed from target deltas at any time."
              },
              "period": {
                "type": "number",
                "description": "Number of seconds to let the deltas of the following position stay outside of `[target-threshold, target+threshold]`,\nbefore correcting them, where `target = deltas of target_instrument * target_amount`.\n"
              },
              "max_slippage": {
                "type": "number",
                "description": "Maximum slippage per trade, expressed as % of the traded instruments mark price."
              },
              "end_time": {
                "type": "number",
                "description": "Timestamp when the bot should stop executing.\nWhen `end_time` is reached, the bot will leave all positions intact, it will not open/close any of them.\n"
              },
              "start_time": {
                "type": "number",
                "description": "Timestamp indicating when the bot was created."
              },
              "stop_time": {
                "type": "number",
                "description": "Timestamp indicating when the bot stopped working due to specified `stop_reason`."
              },
              "stop_reason": {
                "type": "string",
                "enum": [
                  "client_cancel",
                  "client_bulk_cancel",
                  "end_time",
                  "instrument_deactivated",
                  "margin_breach",
                  "admin_cancel",
                  "conflict",
                  "strategy",
                  "self_trade_prevention"
                ],
                "description": "The reason why the bot stopped executing."
              },
              "label": {
                "type": "string",
                "description": "A label that the bot will add to all orders for easy identification."
              },
              "realized_pnl": {
                "type": "number",
                "description": "Realized P&L made by this bot since the start."
              },
              "fee": {
                "type": "number",
                "description": "Trade fees by this bot."
              },
              "average_price": {
                "type": "number",
                "description": "Average entry price of the position (if any)."
              },
              "position_size": {
                "type": "number",
                "description": "Position size (if any)."
              },
              "mark_price_at_stop": {
                "type": "number",
                "description": "Mark price of the bot instrument at the moment the bot was stopped."
              }
            }
          }
        ],
        "example": {
          "strategy": "sgsl",
          "status": "active",
          "bot_id": "0000000035832FDE",
          "instrument_name": "BTC-PERPETUAL",
          "signal": "index",
          "entry_price": 100050,
          "target_position": 0.2,
          "exit_price": 100000,
          "exit_position": 0,
          "end_time": 1740064912,
          "start_time": 1740064912,
          "stop_time": 1740064912
        }
      },
      "Trade": {
        "type": "object",
        "properties": {
          "trade_type": {
            "type": "string",
            "description": "Type of the trade.\n\nNote: as of API v2.31.0 we have stopped representing futures-style settlements as trades of `daily_mark` type. You might still\nget such trades in the history, but no new trades of `daily_mark` type will be created.\nTo get information about daily marks, use `private/daily_mark_history` API endpoint.\n",
            "enum": [
              "normal",
              "block",
              "combo",
              "amend",
              "delete",
              "internal_transfer",
              "expiration",
              "daily_mark",
              "rfq",
              "liquidation"
            ]
          },
          "trade_id": {
            "type": "string"
          },
          "order_id": {
            "type": "string"
          },
          "instrument_name": {
            "type": "string"
          },
          "direction": {
            "type": "string",
            "enum": [
              "buy",
              "sell"
            ]
          },
          "price": {
            "type": "number",
            "description": "Trade price."
          },
          "amount": {
            "type": "number",
            "description": "Traded amount."
          },
          "label": {
            "type": "string",
            "description": "User label."
          },
          "time": {
            "type": "number",
            "description": "Time of trade (Unix timestamp)."
          },
          "position_after": {
            "type": "number",
            "description": "Position in this instrument right after the trade."
          },
          "session_realised_after": {
            "type": "number",
            "description": "Session realised P&L for this instrument right after the trade."
          },
          "position_pnl": {
            "type": "number",
            "description": "If trade closed a position, the positional P&L that was realised."
          },
          "perpetual_funding_pnl": {
            "type": "number",
            "description": "If trade closed a position in a perpetual, the funding P&L that was realised."
          },
          "fee": {
            "type": "number",
            "description": "The fee paid for this trade.\n\nThe fee for a trade is calculated as `fee_basis * fee_rate * amount`, and is then subject\nto clamping to minimum and maximum fee. Depending on the instrument, `fee_basis` can be different\n(e.g. it can be equal to the underlying index, trade price or combo mark price). Please\nrefer to trading information pages for more details.\n"
          },
          "index": {
            "type": "number",
            "description": "The relevant index at time of trade."
          },
          "fee_rate": {
            "type": "number",
            "description": "The fee rate applied to calculate the fee."
          },
          "fee_basis": {
            "type": "number",
            "description": "The fee basis on which the fee is calculated."
          },
          "funding_mark": {
            "type": "number",
            "description": "The perpetual funding mark as applied to the trade (see `Ticker`)."
          },
          "liquidation_fee": {
            "type": "number",
            "description": "Fee paid in case of liquidation."
          },
          "client_order_id": {
            "type": "number",
            "description": "Client order reference as set in related order."
          },
          "maker_taker": {
            "type": "string",
            "description": "Maker (trade on book order) or taker (trade on new order), if applicable.",
            "enum": [
              "maker",
              "taker"
            ]
          },
          "bot_id": {
            "type": "string",
            "description": "If the trade was made by a bot, the ID of that bot.\nOtherwise omitted.\n"
          },
          "leg_index": {
            "type": "number",
            "description": "Index of a leg on which the trade happened for combination orders. Zero for single-leg orders.\n\nFor combination orders the direction of the trade is defined by the direction of the order and\nthe sign of the leg quantity.\n"
          }
        },
        "example": {
          "order_id": "00011E570000004A",
          "trade_id": "0080000000000000169F22D05B785A2B",
          "instrument_name": "BTC-PERPETUAL",
          "direction": "buy",
          "price": 47280,
          "amount": 0.1,
          "label": "",
          "time": 1630059868.4145653,
          "position_after": 1.1,
          "trade_type": "normal",
          "session_realised_after": 25,
          "fee_rate": 0.00025,
          "index": 47200,
          "fee": 1.18,
          "funding_mark": 0.014,
          "leg_index": 0
        }
      },
      "DailyMark": {
        "type": "object",
        "required": [
          "time",
          "instrument_name",
          "position",
          "mark_price",
          "realized_position_pnl"
        ],
        "properties": {
          "time": {
            "type": "number",
            "description": "Time of settlement (Unix timestamp)."
          },
          "instrument_name": {
            "type": "string",
            "description": "Instrument name."
          },
          "position": {
            "type": "number",
            "description": "Position in the instrument."
          },
          "mark_price": {
            "type": "number",
            "description": "Mark price used for settlement."
          },
          "realized_position_pnl": {
            "type": "number",
            "description": "Realized profit or loss for this position."
          },
          "realized_funding_pnl": {
            "type": "number",
            "description": "Realized perpetual funding. Only present for perpetuals."
          }
        },
        "example": {
          "time": 1630059868.4145653,
          "instrument_name": "BTC-PERPETUAL",
          "mark_price": 47280,
          "position": 0.1,
          "realized_position_pnl": 1220,
          "realized_funding_pnl": 10
        }
      },
      "NotificationPreferences": {
        "type": "object",
        "description": "Notification preferences per category",
        "additionalProperties": {
          "type": "object",
          "x-additionalPropertiesName": "<category name>",
          "description": "Map of notification preferences per category.",
          "properties": {
            "email": {
              "type": "boolean",
              "description": "E-mail message is sent for this notification."
            },
            "inbox": {
              "type": "boolean",
              "description": "Notification is placed in user/api key inbox."
            },
            "popup": {
              "type": "boolean",
              "description": "For user inbox notifications, determines if a popup is shown in the front end."
            },
            "sms": {
              "type": "boolean",
              "description": "SMS message is sent for this notification."
            }
          }
        },
        "example": {
          "new_api_key": {
            "email": true,
            "inbox": false,
            "popup": true,
            "sms": false
          },
          "funding_fee": {
            "email": false,
            "inbox": false,
            "popup": false,
            "sms": false
          }
        }
      },
      "NotificationPreferencesApiKey": {
        "type": "object",
        "description": "Notification preferences per category",
        "additionalProperties": {
          "type": "object",
          "x-additionalPropertiesName": "<category name>",
          "description": "Map of notification preferences per category.",
          "properties": {
            "inbox": {
              "type": "boolean",
              "description": "Notification is placed in user/api key inbox."
            }
          }
        },
        "example": {
          "new_api_key": {
            "inbox": false
          },
          "funding_fee": {
            "inbox": false
          }
        }
      },
      "ApiKeyConfig": {
        "type": "object",
        "description": "API key config",
        "required": [
          "nickname",
          "default_account_number",
          "permissions",
          "active"
        ],
        "properties": {
          "nickname": {
            "type": "string",
            "description": "Key nickname to be displayed in the front end."
          },
          "default_account_number": {
            "type": "string",
            "description": "Account number of the default account for this key."
          },
          "permissions": {
            "type": "array",
            "description": "List of account permissions for this key.",
            "items": {
              "type": "object",
              "required": [
                "account_number",
                "may_view",
                "may_trade",
                "may_withdraw",
                "receive_notifications"
              ],
              "properties": {
                "account_number": {
                  "type": "string",
                  "description": "Account number."
                },
                "may_view": {
                  "type": "boolean",
                  "description": "Permission to view this account when logged in with this key."
                },
                "may_trade": {
                  "type": "boolean",
                  "description": "Permission to trade in this account when logged in with this key."
                },
                "may_withdraw": {
                  "type": "boolean",
                  "description": "Permission to withdraw assets from this account when logged in with this key."
                },
                "receive_notifications": {
                  "type": "boolean",
                  "description": "Permission to receive account notifications when logged in with this key."
                }
              }
            }
          },
          "notifications": {
            "$ref": "#/components/schemas/NotificationPreferencesApiKey"
          },
          "active": {
            "type": "boolean",
            "description": "If `true` this API key is active, i.e. can be used to access the API."
          },
          "ip_whitelist": {
            "type": "array",
            "description": "Whitelisted IP addresses.\n\nIf this list is not empty, the API key can only be used from one of the addresses on the list.\n\nEach list item is either a single string that contains a specific IP address, or an array of\nexactly two strings that define a whitelisted range of IP addresses (range ends included).\nStrings must be valid representations of IPv4 or IPv6 addresses. Special addresses\n(broadcast, loopback, multicast etc.) are not allowed. The addresses must be\npublic IPs as seen by our servers.\n\nYou can specify a maximum of 10 addresses.\n",
            "items": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 2,
                  "maxItems": 2
                }
              ]
            }
          }
        },
        "example": {
          "nickname": "My primary key",
          "default_account_number": "A123456789",
          "permissions": [
            {
              "account_number": "A123456789",
              "may_trade": true,
              "may_view": true,
              "may_withdraw": false,
              "receive_notifications": true
            }
          ],
          "notifications": {
            "margin_call": {
              "inbox": true
[...]
